<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/host_common :: head('memberView')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hostBody">
<!-- host page header(host_common.html) -->
<header th:replace="fragments/host_common :: header"></header>

<!-- host page navi -->
<nav th:replace="fragments/host_common :: navi"></nav>

<!-- 본문 내용(Body Block) -->
<div class="d-flex">
    <!-- Sidebar Block -->
    <div style="width:300px;">
        <aside th:replace="fragments/host_common :: sidebar('member')"></aside>
    </div>
    <div class="flex-fill">
        <div class="position-relative text-center w-95 mx-auto my-15 vertical-middle-all">
            <p class="fs-15 p-0 m-0"><b>회원관리</b></p>
            <p class="position-absolute m-0 top-0 end-0">
                <!-- 저장 버튼 -->
                <input type="button" value="저장" class="blueBaseBtn px-10 py-10"
                       onclick = "productForm.action = 'h_productupdatePro1'">
                <!-- 탈퇴시키기 버튼 -->
                <input type="button" value="탈퇴시키기" class="blueBaseBtn px-10 py-10"
                       onclick = "productForm.action = 'h_deletePro?id=${vo.id}&pageNum=${pageNum}'">
            </p>
        </div>

        <!-- Text Update View Block -->
        <form method="post" name="productTextView">
            <div class="bg-white w-95 mx-auto mb-20 pb-15">
                <!-- 상품 기본 정보 Title Block -->
                <div class="w-97 mx-auto bg-white px-10 py-15">
                    <b>·기본정보</b>
                </div>

                <!-- 회원 기본 정보 Block -->
                <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-py15 td-px10 fs-8 td-border-bottom-1-ccc tdChild1-fw-bold tdChild1-bg-lightGray vertical-middle-all">
                    <col style = "width:20%">
                    <col>
                    <tr>
                        <td>가입일</td>
                        <td>${vo.reg_date}</td>
                    </tr>
                </table>

                <!-- 회원 개인 정보 Title Block -->
                <div class="w-97 mx-auto bg-white px-10 py-15">
                    <b>·개인정보</b>
                </div>

                <!-- 회원 개인 정보 Block -->
                <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-py15 td-px10 fs-8 td-border-bottom-1-ccc tdChild1-fw-bold tdChild1-bg-lightGray vertical-middle-all">
                    <!-- 회원 : 회원구분 -->
                    <tr>
                        <td>회원구분</td>
                        <td>개인회원</td>
                    </tr>
                    <!-- 회원 : 이름/아이디 -->
                    <tr>
                        <td>이름/아이디</td>
                        <td th:text="|김선우/kim|">${vo.name}/${vo.id}</td>
                    </tr>

                    <!-- 회원 : 생년월일 -->
                    <tr>
                        <td>생년월일</td>
                        <td th:text="|2023-01-15|">${vo.birth}</td>
                    </tr>

                    <!-- 회원 : 핸드폰번호 -->
                    <tr>
                        <td>핸드폰번호</td>
                        <td th:text="|010-1234-5678|">${vo.hp}</td>
                    </tr>

                    <!-- 회원 : 주소 -->
                    <tr>
                        <td>주소</td>
                        <td>
                            <input type = "text" id = "addressInput" name = "addressInput">
                            <input type = "button" value = "우편번호" id = "addrBtn" class="whiteButton" onclick = "addressSearch();"><br>
                            <input type = "text" id = "subAddressInput" name = "subAddressInput" class="w-50">기본주소<br>
                            <input type = "text" id = "detailAddressInput" name = "detailAddressInput" class="w-50">나머지주소
                        </td>
                    </tr>
                </table>

                <!-- 회원 활동 정보 Title Block -->
                <div class="w-97 mx-auto bg-white px-10 py-15">
                    <b>·활동정보</b>
                </div>

                <!-- 회원 활동 정보 Block -->
                <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-py15 td-px10 td-border-bottom-1-ccc fs-8 vertical-middle-all">
                    <col style = "width:15%">
                    <col>
                    <col style = "width:15%">
                    <col>
                    <tr>
                        <td class="fw-bold bg-EAECEE">적립금</td>
                        <td colspan="3" th:text="|1500원|">${vo.plus}원</td>
                    </tr>
                    <tr>
                        <td class="fw-bold bg-EAECEE">구매횟수</td>
                        <td th:text="|10회|">${orderCnt}회</td>
                        <td class="fw-bold bg-EAECEE">방문횟수</td>
                        <td th:text="|10회|">${vo.visitcnt}회</td>
                    </tr>
                    <tr>
                        <td class="fw-bold bg-EAECEE">상품문의</td>
                        <td th:text="|10개|">${qnaCnt}개</td>
                        <td class="fw-bold bg-EAECEE">상품후기</td>
                        <td th:text="|10개|">${reviewCnt}개</td>
                    </tr>
                </table>

                <!-- 처리해야 할 주문 정보 Title Block -->
                <div class="w-97 mx-auto bg-white px-10 py-15">
                    <b>·처리해야 할 주문</b>
                </div>

                <!-- 처리해야 할 주문 정보 Block -->
                <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-px10 td-py15 td-border-bottom-1-ccc fs-8 tdChild1-bg-lightGray tdChild1-fw-bold vertical-middle-all">
                    <col style = "width:20%;">
                    <col>

                    <tr>
                        <td>배송준비</td>
                        <td>${dscnt}건</td>
                    </tr>
                    <tr>
                        <td>배송중</td>
                        <td>${dicnt}건</td>
                    </tr>
                    <tr>
                        <td>배송완료</td>
                        <td>${decnt}건</td>
                    </tr>
                    <tr>
                        <td>환불접수</td>
                        <td>${ricnt + recnt}건</td>
                    </tr>
                </table>

                <!-- 관리자메모 Title Block -->
                <div class="w-97 mx-auto bg-white px-10 py-15">
                    <b>·관리자메모</b>
                </div>

                <!-- 관리자메모 Block -->
                <table class="w-97 mx-auto bg-white border-bottom-1-ccc border-top-1-ccc td-py15 td-px10 td-border-bottom-1-ccc fs-8 tdChild1-bg-lightGray tdChild1-fw-bold tdChild1-border-right-1-ccc vertical-middle-all">
                    <col style = "width: 15%;">
                    <col>
                    <!-- 관리자메모 Box -->
                    <tr>
                        <td colspan = "2">
                            <textarea rows="20" cols="95" name="content" class="w-100 resize-vertical border-0" ></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<!-- using Javascript, Bootstrap, JQuery -->
<footer th:replace="fragments/host_common :: footer"></footer>
</body>
</html>