<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/host_common :: head('boardList')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hostBody h-100">
<!-- host page header(host_common.html) -->
<header th:replace="fragments/host_common :: header"></header>

<!-- host page navi -->
<nav th:replace="fragments/host_common :: navi"></nav>

<!-- 본문 내용(Body Block) -->
<div class="d-flex h-100">
    <!-- Sidebar Block -->
    <div style="width:300px;">
        <aside th:replace="fragments/host_common :: sidebar('board')"></aside>
    </div>
    <div class="flex-fill">
        <div class="position-relative text-center w-95 mx-auto my-15 vertical-middle-all">
            <p class="fs-15 p-0 m-0"><b>[[${name}]] 게시판 리스트</b></p>
            <p class="position-absolute m-0 top-0 end-0" th:if="${name == 'NOTICE' || name == 'FAQ'}">
                <button type="button" class="blueBaseBtn px-10 py-10">
                    <a class="text-white text-decoration-none" th:href="@{/host/boardInput(name=${name})}">게시글등록</a>
                </button>
            </p>
        </div>

        <!--  검색 선택 부분(Search Select Box) -->
        <form action="h_productselect" method="post" name="searchForm">
            <table class="w-95 mx-auto bg-white border-top border-bottom border-dark td-border-bottom-1-ccc td-py10 td-px8 fs-8 tdChild1-bg-lightGray tdChild1-fw-bold vertical-middle-all">
                <col style="width:15%;">
                <col>

                <!-- 작성일 선택 Block -->
                <tr>
                    <td>작성일</td>
                    <td>
                        <!-- 어느 날짜를 기준으로 검색할 것인지 체크 -->
                        <input type="date" id="firstDay" name="firstDay"> -
                        <input type="date" id="lastDay" name="lastDay">

                        <!-- 버튼 클릭시 위에 date input 값이 변하게 됨 -->
                        <input type="hidden" name="dayNum" value="0">
                        <span class="p-0 ms-2">
                            <input type="radio" name="dayType" id="today" value="today" onclick="today();"
                                   class="d-none">
                            <label for="today" class="border border-black py-1 px-2">오늘</label>
                            <input type="radio" name="dayType" id="week" value="week" onclick="week();"
                                   class="d-none">
                            <label for="week" class="border border-black py-1 px-2">1주일</label>
                            <input type="radio" name="dayType" id="month1" value="month1" onclick="month1();"
                                   class="d-none">
                            <label for="month1" class="border border-black py-1 px-2">1개월</label>
                            <input type="radio" name="dayType" id="month3" value="month3" onclick="month3();"
                                   class="d-none">
                            <label for="month3" class="border border-black py-1 px-2">3개월</label>
                            <input type="radio" name="dayType" id="month6" value="month6" onclick="month6();"
                                   class="d-none">
                            <label for="month6" class="border border-black py-1 px-2">6개월</label>
                        </span>
                    </td>
                </tr>
                <!-- 게시글의 판매상태(분류) : FAQ -->
                <tr th:if="${name == 'FAQ'}">
                    <td>판매상태</td>
                    <td>
                        <input type = "checkbox" name = "state" id = "memberrank" value = "회원등급">
                        <label for = "memberrank">회원 등급</label>&emsp;
                        <input type = "checkbox" name = "state" id = "prdinput" value = "상품등록">
                        <label for = "prdinput">상품 등록</label>&emsp;
                        <input type = "checkbox" name = "state" id = "order_pay" value = "주문/결제">
                        <label for = "order_pay">주문/결제</label>&emsp;
                        <input type = "checkbox" name = "state" id = "deli" value = "배송">
                        <label for = "deli">배송</label>&emsp;
                        <input type = "checkbox" name = "state" id = "refund" value = "환불">
                        <label for = "refund">환불</label>&emsp;
                        <input type = "checkbox" name = "state" id = "pluspay" value = "적립금">
                        <label for = "pluspay">적립금</label>&emsp;
                        <input type = "checkbox" name = "state" id = "other" value = "기타">
                        <label for = "other">기타</label>
                    </td>
                </tr>
                <!-- 게시글의 질문유형 : Q&A -->
                <tr th:if="${name == 'Q&A'}">
                    <td>질문유형</td>
                    <td>
                        <input type = "checkbox" name = "Qtype" id = "prd" value = "상품문의">
                        <label for = "prd">상품문의</label>&emsp;
                        <input type = "checkbox" name = "Qtype" id = "deli" value = "배송문의">
                        <label for = "deli">배송문의</label>&emsp;
                        <input type = "checkbox" name = "Qtype" id = "paychk" value = "입금확인문의">
                        <label for = "paychk">입금확인문의</label>&emsp;
                        <input type = "checkbox" name = "Qtype" id = "refund" value = "주문/변경/취소/환불문의">
                        <label for = "refund">주문/변경/취소/환불문의</label>&emsp;
                        <input type = "checkbox" name = "Qtype" id = "ather" value = "기타문의">
                        <label for = "ather">기타문의</label>
                    </td>
                </tr>

                <!-- 검색할 Text 입력 Block -->
                <tr>
                    <td>검색어</td>
                    <td>
                        <select id="type" name="srhType" class="px-2 py-1">
                            <option value="0">전체</option>
                            <option value="1">제목</option>
                            <option value="2">내용</option>
                            <option value="3" th:if="${name == 'Q&A'}">작성자</option>
                        </select>
                        <input type="hidden" name="searchType" value="0">
                        <input type="search" id="srch" name="srch">
                    </td>
                </tr>
            </table>

            <!-- 버튼 리스트(Button List Block) -->
            <div class="w-100 text-center mt-10 mb-20">
                <input type = "submit" value = "검색" class="blackBaseButton w-15 py-10 border-0 ">
            </div>
        </form>

        <!-- 상품 검색 결과 목록(SearchResult Product List) -->
        <section class="w-95 mx-auto bg-white mb-50 pb-15" >
            <form action = "h_productdeletePro" method = "post" name = "completeForm">
                <input type = "hidden" name = "pageNum" value = "${pageNum}">

                <!-- Q&A일 경우 어느 카테고리로 질문했는지? 선택 -->
                <!--<div th:if="${title == 'Q&A'}" class="d-flex mt-5 mb-5 fs-75 justify-content-center">
                  <div>상품문의</div><div class="mx-2">|</div>
                  <div>배송문의</div><div class="mx-2">|</div>
                  <div>입금확인문의</div><div class="mx-2">|</div>
                  <div>주문/변경/취소/환불문의</div><div class="mx-2">|</div>
                  <div>기타문의</div>
                </div>-->
                <!-- BoardList Top Menu -->
                <div th:replace="fragments/host_common :: boardTopList"></div>

                <!-- 게시판 목록 Block -->
                <table class="table text-center fs-75 w-98 mx-auto bg-white border-bottom-1-ccc border-top-1-ccc td-border-bottom-1-ccc vertical-middle-all a-tag-css">
                    <thead>
                    <tr class="fw-bold border-0 td-py25 td-px15">
                        <td>
                            <input type = "checkbox" name = "boardAllCheck" id = "boardCheckAll"  value = "전체선택">
                        </td>
                        <td>번호</td>
                        <td th:if="${name == 'FAQ' || name == 'Q&A'}" th:text="${name == 'FAQ'}?'분류':'질문유형'">분류 또는 질문유형</td>
                        <td>제목</td>
                        <td>작성자</td>
                        <td>작성일</td>
                        <td th:if="${name == 'Q&A'}">답변상태</td>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${boardList.getNumberOfElements() > 0}">
                    <tr class = "text-center td-py10 td-px15" th:each="list:${boardList}" th:id="${list.getNum()}">
                        <td><input type = "checkbox" name = "boardNums" th:value="${list.getNum()}"></td>
                        <td th:text="${list.getNum()}">1</td>
                        <td th:if="${name == 'FAQ' || name == 'Q&A'}"
                            th:text="${list.getContentState()}">회원등급 또는 상품문의</td>
                        <td class="text-start">
                            <!-- Q&A일 경우에 사용자글과 관리자답글(이미지 추가) 구분짓기 -->
                            <a th:if="${name == 'Q&A'}" th:text="${list.getSubject()}"
                               th:href="${#authentication.getName() == list.getBoardUser().getUsername()} ? @{/host/boardInput(name=${name}, boardNum=${list.getNum()})} : @{/board/boardView(name='Q&A(HOST)')}">
                                <th:block th:if="${list.getRefLevel() > 0}">
                                    &nbsp;<img src = "${project}ascloimage/re.png" width = "20" height = "15">
                                </th:block> <!-- 답글인 경우 이미지 출력 -->
                                오늘 이 옷 너무 예뻐요
                            </a>
                            <!-- Q&A가 아닐 경우 이거 출력 -->
                            <a th:if="${name != 'Q&A'}" th:text="${list.subject}"
                               th:href="${name == 'REVIEW'}? @{/board/boardView(name='REVIEW', num=${list.getNum()}))} : @{/host/boardInput(name=${name}, boardNum=${list.getNum()})}">
                                오늘 이 옷 너무 예뻐요
                            </a></td>
                        <td th:text="${list.getBoardUser().getUsername()}">kim</td>
                        <td th:text="${list.getRegDate()}">[[#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')]]</td>
                        <td th:if="${name == 'Q&A'}" th:text="${list.getWriteState()}">답변완료</td>
                    </tr>
                    </th:block>
                    <th:block th:if="${boardList.getNumberOfElements() == 0}">
                    <tr class = "text-center td-py10 td-px15">
                      <td th:colspan="${name == 'Q&A'}?7:(${name == 'FAQ'}?6:5)">
                        등록된 게시글이 없습니다. 글을 작성해주세요!!
                      </td>
                    </tr>
                    </th:block>
                    </tbody>
                </table>

                <!-- BoardList Bottom Menu -->
                <div class="position-relative w-98 pt-10 mx-auto">
                    <!-- 삭제 버튼 Block -->
                    <div class="position-absolute top-0 left-0">
                        <input type = "button" value = "선택삭제" class="blackButton px-15" th:onclick="boardDel()">
                    </div>

                    <!-- Paging Process -->
                    <div>
                        <ul class="pagination justify-content-center my-0">
                            <li class="page-item disabled">
                                <a class="page-link">&lt;</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">&gt;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<!-- using Javascript, Bootstrap, JQuery -->
<footer th:replace="fragments/host_common :: footer"></footer>
</body>
</html>