<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/guest_common :: head('boardView')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- guest page header(guest_common.html) -->
    <header th:replace="fragments/guest_common :: header"></header>

    <section th:replace="fragments/guest_common :: headName(${name})"></section>

    <!-- QnA 비번이 걸려있는 경우 비번 인증하는 부분 보여줌 : 내가 아니고 QnA일 때만-->
    <section class="body" th:classappend="${board.getTextType() != 'close'}?'d-none'" id="QnADoor">
        <form name="QnADoor" action="BoardView" method="post" class="mt-30 mb-50">
            <!--<input type = "hidden" name = "num" value = "${num}">
            <input type = "hidden" name = "number" value = "${number}">
            <input type = "hidden" name = "pageNum" value = "${pageNum}">
            <input type = "hidden" name = "choose" value = "${choose}">-->
            <fieldset class="py-10 mt-10 mx-auto w-50 a-tag-css text-center border-all-1-ccc">
                <table class="body">
                    <col style = "width: 40%;">
                    <col style = "width: 60%;">
                    <tr>
                        <td colspan = "2" class="fs-75 color-gray">
                            이 글은 비밀글입니다. <b>비밀번호를 입력해 주세요.</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan = "2" class="fs-75 color-gray">
                            관리자는 확인버튼만 누르시면 됩니다.
                        </td>
                    </tr>
                    <tr>
                        <td colspan = "2"><br></td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pwdInput" class="fw-bold fs-75">비밀번호</label>
                        </td>
                        <td><input type = "password" id="pwdInput" name = "password" class="w-98 py-5px"></td>
                    </tr>

                    <tr>
                        <td colspan = "2">
                            <a th:href = "@{/board/boardList(name='Q&A')}">
                                <input type = "button" class="fs-75 whiteBaseButton w-49 py-10 mt-10" id = "list" value = "목록" >
                            </a>
                            <input type = "button" class="fs-75 grayButton w-49 py-10 mt-10" th:id="${board.getPwd()}"
                                   value = "확인" th:onclick="boardPwdCheck(this.id)">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </section>

    <!-- 게시판 Body 부분 -->
    <section class="body" th:classappend="${board.getTextType() == 'close'}?'d-none'" id="boardBody">
        <input type = "hidden" id = "boardNum" th:value="${board.getNum()}">
        <input type = "hidden" id = "boardState" th:value="${board.getBoardState()}">
        <!-- 리뷰할 상품을 선택해서 올리는 부분(Review Item Select) -->
        <th:block th:if="${name == 'REVIEW' || name == 'Q&A'}">
            <div id = "prdData" class = "my-15 w-100 fs-75 border-y-1-ccc boardView-header">
                <table class="w-100">
                    <col style = "width: 20%;">
                    <col style = "width: 80%;">
                    <tr>
                        <!-- prdImage block(image 클릭시 상품 선택 가능한 팝업 생성) -->
                        <td rowspan = "2" class="text-center py-10">
                            <div id = "imageDiv" class="bg-secondary-subtle wh-100px mx-auto">
                                <img th:if="${board.getBoardCloth() != null}"
                                     th:src="|/uploadMainImageView/${board.getBoardCloth().getClothId()}|" class="w-100 h-100"/>
                                <span th:if="${board.getBoardCloth() == null}">No image</span>
                            </div>
                        </td>
                        <!-- prdTitle block -->
                        <td>
                            <img src = "../ascloimage/n.png" width = "10px" height = "10px" class="align-middle"><br>
                            <span class="fw-bold"> &lt;WITH ITEM SELECT&gt; </span><br>
                            <span id="clothName" class="fs-15" th:text="${board.getBoardCloth() != null}?${board.getBoardCloth().getClothName()}"></span>
                        </td>
                    </tr>
                    <tr>
                        <!-- product detail block(해당 상품의 페이지 보러가기) -->
                        <td class="pb-15">
                            <input type = "button" name = "detailPrd" value = "상품 상세보기" class="fs-9 whiteButton"
                                   th:onclick="|window.location.href='/guest/productDetail?clothId=${board.getBoardCloth().getClothId()}';|">
                        </td>
                    </tr>
                </table>
            </div>
        </th:block>

        <!-- 제목, 작성자 나오게 해주는 header 부분 -->
        <div class = "fs-8 text-start border-y-1-ccc boardView-header">
            <table class="w-100">
                <col style = "width: 15%;">
                <col style = "width: 85%;">
                <tr th:if="${name == 'Q&A'}">
                    <td>문의구분</td>
                    <td th:text="${'상품문의'}">${vo.state}</td>
                </tr>
                <tr th:if="${name == 'FAQ'}">
                    <td>분류</td>
                    <td th:text="${board.getContentState()}">상품등록</td>
                </tr>

                <tr>
                    <td>제목</td>
                    <td th:text="${board.getSubject()}">멋있는 제목</td>
                </tr>

                <tr>
                    <td>작성자</td>
                    <td><b th:text="${board.getBoardUser().getUsername()}">kim</b></td>
                </tr>
            </table>
        </div>

        <!-- 게시물의 내용(board contents) -->
        <div class="text-center fs-8 py-20 mt-30 mb-20 border-bottom-3-ccc">
            <th:block th:if="${boardFileList.size() > 0}" th:each="list:${boardFileList}">
                <img th:src="|/uploadBoardImageView/${list.getFileId()}|" alt="이미지 사진">
            </th:block>
            <p th:text="${board.getContent()}">내용입니다.</p>
        </div>

        <!-- 버튼 목록 -->
        <div class="text-end mt-10 mb-50 a-tag-css">
            <!-- 게시판 목록으로 이동(boardList Page Move) -->
            <a href = "notice?num=${num}&number=${number}&pageNum=${pageNum}&choose=${choose}">
                <input type = "submit" name = "list" value = "목록" class="fs-75 whiteButton">
            </a>
            <!-- 게시판이 review 또는 Q&A이고 내가 작성한 게시물일 경우 -->
            <th:block th:if="${#authentication.getName() == board.getBoardUser().getUsername()}">
                <!-- 수정 버튼 -->
                <a th:href = "@{/board/boardWrite(name=${name}, num=${board.getNum()})}">
                    <input type = "submit" name = "update" value = "수정"  class="fs-75 whiteButton">
                </a>

                <!-- 삭제 버튼 -->
                <a href = "reviewdelete?onenum=${num}&number=${number}&pageNum=${pageNum}&choose=${choose}">
                    <input type = "submit" name = "delete" value = "삭제"  class="fs-75 whiteButton">
                </a>
            </th:block>
            <!-- QnAView에 관리자가 들어왔을 때 답글달기 버튼 보이게 해줌 -->
            <th:block th:if="${name == 'Q&A(HOST)'}">
                <!-- 답글달기 버튼 -->
                <!--<a href = "h_QnAwrite?num=${num}&number=${number}&pageNum=${pageNum}&choose=${choose}">-->
                <a th:href="@{/host/boardInput(name = 'Q&A')}">
                    <input type = "button" name = "answer" value = "답글달기" class="fs-75 whiteButton">
                </a>
            </th:block>

        </div>

        <!-- 댓글작성 block -->
        <article th:if="${name == 'REVIEW'}">
            <form method = "post" name = "boardInputForm" id="boardInputForm">
                <div class = "replyContents">
                    <input type="hidden" id="pageSize" value="5">
                    <table class="w-100 ">
                        <col width="5%">
                        <col width="15%">
                        <col >
                        <col width="8%">
                        <col width="5%">
                        <tr>
                            <th class="text-center" colspan = "5">
                                <div class="d-flex px-3">
                                    <!-- 현재 가져온 게시판이 총 몇개이고 그 중 몇개가 한페이지에 출력이 되어있는지 확인 -->
                                    <div class="me-auto my-auto">
                                        <b class="fs-9" th:id="|getPageCountText_REPLY|"
                                           th:text="| 검색 ${replyBoardList.getNumberOfElements()}건 / 총 ${replyBoardList.getTotalElements()}건 |">
                                            검색 10건 / 총 50건
                                        </b>
                                    </div>

                                    <!-- 댓글이 있으면 -->
                                    <div th:if="${replyBoardList.getNumberOfElements() > 0}">
                                        <ul class="pagination justify-content-center my-0" th:id="|pagingBlock_REPLY|">
                                            <li class="page-item" th:classappend="${1 == replyBoardList.pageable.pageNumber+1} ? 'disabled'">
                                                <a class="page-link" href="#;" th:onclick="boardPaging(this.id, 'REPLY')" th:id="${replyBoardList.pageable.pageNumber - 1}">&lt;</a>
                                            </li>
                                            <li class="page-item" th:classappend="${i == replyBoardList.pageable.pageNumber+1} ? 'disabled'"
                                                th:each="i : ${#numbers.sequence(replyStartPage, replyEndPage)}">
                                                <a class="page-link" href="#;" th:onclick="boardPaging(this.id, 'REPLY')" th:id="${i - 1}" th:text="${i}">1</a>
                                            </li>
                                            <li class="page-item" th:classappend="${replyBoardList.totalPages == replyBoardList.pageable.pageNumber+1} ? 'disabled'">
                                                <a class="page-link" href="#;" th:onclick="boardPaging(this.id, 'REPLY')" th:id="${replyBoardList.pageable.pageNumber + 1}">&gt;</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Paging Process : boardList == 0 -->
                                    <div th:if="${replyBoardList.getNumberOfElements() == 0}">
                                        <ul class="pagination justify-content-center my-0" id="pagingBlock">
                                            <li class="page-item disabled"><a class="page-link">&lt;</a></li>
                                            <li class="page-item disabled"><a class="page-link">1</a></li>
                                            <li class="page-item disabled"><a class="page-link">&gt;</a></li>
                                        </ul>
                                        <!--<ul class="pagination justify-content-center my-0" id="pagingBlock">
                                            <a href="#;" class="fw-bold">[◀]</a>
                                            <a href="#;" class="fw-bold">[1]</a>
                                            <a href="#;" class="fw-bold">[▶]</a>
                                        </ul>-->
                                    </div>
                                </div>
                            </th>
                        </tr>

                        <!-- 댓글이 있으면 -->
                        <tbody th:id="|boardListTBody_REPLY|">
                        <th:block th:if="${replyBoardList.getNumberOfElements() > 0}">
                        <tr th:each="list:${replyBoardList}" th:id="${list.getNum()}">
                            <td th:text="${list.getNum()}">1</td>
                            <td>
                                <!-- 오늘 날짜와 작성 날짜를 yyyy-MM-dd로 변환해주는 block -->
                                <!--<c:set var="now" value="<%=new java.util.Date()%>" />
                                <c:set var="sysYear"><fmt:formatDate value="${now}" pattern="yyyy-MM-dd" /></c:set>
                                <c:set var="boardYear"><fmt:formatDate value="${list.reg_date}" pattern="yyyy-MM-dd" /></c:set>-->

                                <!-- 오늘 날짜와 작성 날짜가 같으면 댓글 앞에 new 이미지 넣어줌 -->
                                <!--<c:if test = "${boardYear == sysYear}">-->
                                <img th:src="|/icon/new.png|" alt="이미지 없음" width = "20px" height = "20px"
                                     th:if="${#dates.format(list.getRegDate(), 'yyyy-MM-dd') == #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                                <span th:text="|${list.getBoardUser().getUsername()}|" class="align-middle" >kim</span>
                            </td>
                            <td th:text="|${list.getSubject()}|">
                                너 정말 멋지다
                            </td>
                            <td>
                                <span th:text="|${list.getRegDate()}|">2023-05-15</span>
                            </td>
                            <td class="text-end">
                                <input type = "button" class="whiteButton" name = "replyDel" value = "삭제"
                                       th:onclick="boardOneDel([[${list.getNum}]])">
                            </td>
                        </tr>
                        </th:block>
                        <!-- 댓글이 없으면 없음을 출력해줌 -->
                        <th:block th:if="${replyBoardList.getNumberOfElements() == 0}">
                        <tr>
                            <td colspan = "5" class="text-center">
                                댓글이 없습니다. 첫 댓글이 되어주세요!!
                            </td>
                        </tr>
                        </th:block>
                        </tbody>
                    </table>

                    <!-- 댓글 달기위한 입력 폼 -->
                    <table class="w-100 mt-30 mb-1">
                        <tr>
                            <td><b><label for="replyContent">댓글달기</label></b></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan = "2">
                                <textarea id="replyContent" rows="3" cols="80" name = "subject" class="resize-none w-100 align-middle"></textarea>
                            </td>
                            <td class="text-end">
                                <input type = "button" class="whiteMSizeButton w-100 h-100"
                                       th:onclick="boardAdd('reply')" value = "확인">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </article>

        <!-- 이전글, 다음글 이동 부분 테이블(before&after Board Move) -->
        <div class = "board-beforeAfter a-tag-css">
            <table class="table table-bordered">
                <col style = "width: 15%;">
                <col style = "width: 85%;">
                <!-- 이전글 -->
                <!--<c:if test="${vo.fwsubject != null}">-->
                    <tr>
                        <td class="vertical-middle-all"><img src = "/icon/up.png" width = "12px" height = "12px" class="me-2"><span>이전글</span></td>
                        <td>
                            <a th:href = "@{/board/boardView(name=${name}, num=${beforeBoard.getNum()})}"
                               th:if="${beforeBoard != null}" th:text="${beforeBoard.getSubject()}">재미있다.</a>
                            <span th:if="${beforeBoard == null}">이전글이 없습니다.</span>
                        </td>
                    </tr>
                <!-- 다음글 -->
                <!--<c:if test="${vo.nextsubject != null}">-->
                    <tr>
                        <td class="vertical-middle-all"><img src = "/icon/down.png" width = "12px" height = "12px" class="me-2"><span>다음글</span></td>
                        <td>
                            <a th:href = "@{/board/boardView(name=${name}, num=${afterBoard.getNum()})}"
                               th:if="${afterBoard != null}" th:text="${afterBoard.getSubject()}">재미있다.</a>
                            <span th:if="${afterBoard == null}">다음글이 없습니다.</span>
                        </td>
                    </tr>
            </table>
        </div>
    </section>

    <!-- footer List & bootstrap using script -->
    <footer th:replace="fragments/guest_common :: footer"></footer>
</body>
</html>