<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/guest_common :: head('board')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- guest page header(guest_common.html) -->
    <header th:replace="fragments/guest_common :: header"></header>

    <!-- category product list -->
    <h4 class="mt-4 fw-bold text-center">NOTICE</h4>
    <!-- SubCategory Name List -->
    <div class="text-center mb-4">
        SunCloth의 공지사항입니다:)
    </div>
    <section id="body">
    <div class="d-flex">
        <div class="me-auto">
            <p class="ms-1 mt-3 cntText"><b th:text="| 검색 ${10}건 / 총 ${50}건|"></b></p>
        </div>
        <div class="d-flex justify-content-end mt-2 searchBox">
            <div>
                <select class="form-select" id="blockNum" name="blockNum">
                    <option value="10">10개씩 출력</option>
                    <option value="30">30개씩 출력</option>
                    <option value="50">50개씩 출력</option>
                </select>
            </div>
            <div>
                <select class="form-select" id="dayType" name="dayType">
                    <option value="all">전체</option>
                    <option value="week">일주일</option>
                    <option value="month">한달</option>
                    <option value="month3">세달</option>
                </select>
            </div>
            <div>
                <select class="form-select" aria-label=".form-select-sm example" id="searchType" name="searchType">
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="id">아이디</option>
                </select>
            </div>
            <div>
                <input type="search" class="form-control" placeholder="search">
            </div>
            <div>
                <button type="button" class="btn btn-outline-dark">검색</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">NO</th>
            <th scope="col">CONTENTS</th>
            <th scope="col">NAME</th>
            <th scope="col">HIT</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>맛있다 진짜로</td>
            <td>김선우</td>
            <td>15</td>
        </tr>
        </tbody>
        <!--<tbody>
        <tr>
            <td colspan = "4" class="text-center">
                게시글이 없습니다. 글을 작성해주세요!!
            </td>
        </tr>
        </tbody>-->
    </table>


    <!-- Paging Process -->
    <ul class="pagination justify-content-center py-4">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>

    </section>
    <!-- footer List & bootstrap using script -->
    <footer th:replace="fragments/guest_common :: footer"></footer>
</body>
</html>