<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/guest_common :: head('boardWrite')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- guest page header(guest_common.html) -->
    <header th:replace="fragments/guest_common :: header"></header>

    <section th:replace="fragments/guest_common :: headName(${name})"></section>

    <!-- 게시판 Body 부분 -->
    <section class="body">
        <form method="POST" id="boardInputForm" enctype="multipart/form-data"
              th:onsubmit="${board.getBoardUser() == null || board.getBoardUser().getUsername() != #authentication.getName()}?'return boardAdd(\'guest\')':'return boardUpdate()'">
            <input type="hidden" name="boardState" id="boardState" th:value="${name}">
            <input type = "hidden" name = "num" th:value="${board.getNum()}">
            <!--<input type = "hidden" name = "pageNum" value = "${pageNum}">
            <input type = "hidden" name = "ref" value = "${ref}">
            <input type = "hidden" name = "ref_step" value = "${ref_step}">
            <input type = "hidden" name = "ref_level" value = "${ref_level}">-->

            <!-- 리뷰할 상품을 선택해서 올리는 부분(Review Item Select) -->
            <div class = "my-15 w-100 fs-75 border-y-1-ccc a-tag-css">
                <table class="w-100">
                    <col style = "width: 15%;">
                    <col style = "width: 85%;">
                    <tr>
                        <!-- prdImage block(image 클릭시 상품 선택 가능한 팝업 생성) -->
                        <td class="text-center py-10"><a href="#;" th:onclick="withItemListPage()">
                            <div id = "imageDiv" class="bg-secondary-subtle wh-100px mx-auto">
                                <img th:if="${board.getBoardCloth() != null}"
                                     th:src="|/uploadMainImageView/${board.getBoardCloth().getClothId()}|" class="w-100 h-100"/>
                                <span th:if="${board.getBoardCloth() == null}">No image</span>
                            </div>
                        </a></td>
                        <td class="ps-2">
                            <input type="hidden" name="clothId" id="clothId" th:value="${board.getBoardCloth() != null}?${board.getBoardCloth().getClothId()}">
                            <span class="fw-bold"> &lt;WITH ITEM SELECT&gt; </span><br>
                            <span id="clothName" class="fs-15" th:text="${board.getBoardCloth() != null}?${board.getBoardCloth().getClothName()}"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- 게시물의 내용(board contents) -->
            <div class = "fs-8 text-start border-y-1-ccc boardWrite-content">
                <table class="w-100">
                    <col style = "width: 15%;">
                    <col style = "width: 85%;">
                    <tr>
                        <td class="border-right-1-ccc">
                        <label for="subject">
                            제목
                        </label>
                        </td>
                        <td>
                            <select id = "contentState" name = "contentState"
                                    th:if="${name == 'Q&A'}" class="py-1 fs-9 w-15 align-middle">
                                <option value = "상품문의">상품문의</option>
                                <option value = "배송문의">배송문의</option>
                                <option value = "입금확인문의">입금확인문의</option>
                                <option value = "주문/변경/취소/환불문의">주문/변경/취소/환불문의</option>
                                <option value = "기타문의">기타문의</option>
                            </select>
                            <input type = "text" id = "subject" name = "subject"
                                   class="w-35 align-middle" th:value="${board.getSubject()}">
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <textarea rows="20" cols="95" name="content" class="w-100 resize-vertical"
                                      th:text="${board.getContent()}"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td  class="border-right-1-ccc">첨부파일(다중 선택 가능)</td>
                        <td>
                            <div class="d-flex flex-column align-self-center">
                                <!-- 게시판 이미지 정보 출력 div -->
                                <div id="boardImagesDiv" th:if="${files.size() > 0}">
                                    <th:block th:each="list:${files}">
                                        <input type="hidden" name="boardFileIds" th:value="${list.getFileId()}">
                                        <img th:src="|/uploadBoardImageView/${list.getFileId()}|" alt="게시판이미지" class="wh-100px" src=""/>
                                        <p th:text="|[${list.getOrgNm()}]|"></p>
                                    </th:block>
                                </div>
                                <!-- 이전 이미지 그대로 checkBox -->
                                <div th:class="${files.size() == 0}?'d-none'">
                                    <input type = "checkbox" id = "baseBoardFileYN" th:onchange="baseBoardFileUpdateYN()" th:checked="${files.size() > 0}?true">
                                    <label for="baseBoardFileYN">이전 이미지 그대로</label>
                                </div>
                                <div><input type = "file" multiple="multiple" id="boardFile" name = "boardFile" th:class="${files.size() > 0}?'d-none'"></div>
                            </div>
                        </td>
                    </tr>
                    <th:block th:if="${name == 'Q&A'}">
                        <tr>
                            <td class="border-right-1-ccc">비밀번호</td>
                            <td>
                                <input type = "password" id = "pwd" name = "pwd"
                                       class="w-25" th:value="${board.getPwd()}"
                                       th:disabled="${board.getTextType() == 'open' || board.getTextType() == null}?'disabled'">
                            </td>
                        </tr>
                        <tr>
                            <td class="border-right-1-ccc">비밀글설정</td>
                            <td><input type = "radio" id = "open" name = "textType" value = "open"
                                       th:onchange="boardTextTypeChange(this.value)"
                                       th:checked="${board.getTextType() == 'open' || board.getTextType() == null}?true">
                                <label for = "open">공개글</label>
                                <input type = "radio" id = "close" name = "textType" value = "close"
                                       th:onchange="boardTextTypeChange(this.value)"
                                       th:checked="${board.getTextType() == 'close'}?true">
                                <label for = "close">비밀글</label>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>

            <!-- 버튼 목록 -->
            <div class="text-end mt-10 mb-50 a-tag-css">
                <!-- 게시판 목록으로 이동(boardList Page Move) -->
                <a href = "notice?num=${num}&number=${number}&pageNum=${pageNum}&choose=${choose}">
                    <input type = "submit" name = "list" value = "목록" class="fs-75 whiteButton">
                </a>
                <input type = "button" name = "cancel" value = "취소" class="fs-75 whiteButton"
                       onclick = "window.location = 'review?num=${num}&number=${number}&choose=${choose}'">
                <input type = "submit" id = "input" name = "input" value = "등록" class="fs-75 whiteButton">
            </div>

        </form>
    </section>

    <!-- footer List & bootstrap using script -->
    <footer th:replace="fragments/guest_common :: footer"></footer>
</body>
</html>