<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/guest_common :: head('popup')">
  <meta charset="UTF-8">
  <title>withItemsSelect</title>
</head>
<body>

<!--
1. checkbox로 상품 선택하면 script로 다른 공간에 해당 items 값들 저장해둠
==> 1) script에서 리스트 변수로 저장해둠
==> 2) 사이트에 hidden으로 inputbox를 생성해줌)
2. 페이지 넘길 때 상품 리스트 보여주는 부분만 Ajax를 이용해서 바꾸어줌
==> 곧 checkbox로 체크를 하면 다른 곳에 값은 그대로 저장이 되고, 상품 리스트만 바꾸어줌
==> Ajax시 값 가져올 때 값 저장해둔 부분의 품번과 같은 상품이 있다면 checkbox checked는 true로 해줌
-->
<header class="bg-secondary text-white fs-8 py-10 px-20 w-100">
  <b>WITH ITEMS</b>
</header>

<!-- With Items List -->
<section>
  <!-- 게시판 개수 출력 / 출력할 개수 선택 Block -->
  <div class="d-flex vertical-middle-all w-95 mx-auto">
    <!-- 현재 가져온 게시판이 총 몇개이고 그 중 몇개가 한페이지에 출력이 되어있는지 확인 -->
    <div class="me-auto pt-20 px-15 pb-12 fs-9">
      <b id="getPageCountText" th:text="| 검색 ${clothList.getNumberOfElements()}건 / 총 ${clothList.getTotalElements()}건 |"></b>
    </div>

    <!-- 출력 수 제한 및 정렬을 위해 select시 목록의 변화가 일어나야 하는 부분 -->
    <div class="pt-20 px-15 pb-12">
      <select class="fs-75 align-middle py-6" id="searchType" name="searchType">
        <option value="name">상품명</option>
      </select>
      <input type="search" class="fs-75 align-middle py-5px" id="searchInput" name="searchInput" placeholder="search">
      <button type="button" class="whiteButton fs-75 align-middle py-5px" th:onclick="clothsGet('withItemsSelect')">검색</button>
    </div>
  </div>

  <!-- 게시판 목록 Block -->
  <table class="table text-center fs-75 w-98 mx-auto bg-white border-bottom-1-ccc border-top-1-ccc td-border-bottom-1-ccc vertical-middle-all a-tag-css">
    <thead>
    <tr class="fw-bold border-0 td-py25 td-px15">
      <!--<td>
        <input type = "checkbox" id = "clothCheckAll" th:onchange="allCheck('cloth')" value = "전체선택">
      </td>-->
      <td>이미지</td>
      <td>번호</td>
      <td>카테고리</td>
      <td>상품명</td>
      <td>기본가격</td>
      <td>배송비</td>
    </tr>
    </thead>
    <tbody id="productListTBody">
    <th:block th:if="${clothList.getNumberOfElements() > 0}">
      <tr class = "text-center td-py10 td-px15" th:each="list:${clothList}" th:id="${list.getClothId()}">
        <!--<td><input type = "checkbox" name = "clothIds" th:value = "${list.getClothId()}" th:onchange="allCheckRemove('cloth')"></td>-->
        <td> <!-- th:if="${list.mainfile != null}" -->
          <img th:src="|/uploadMainImageView/${list.getClothId()}|" alt="이미지 없음"
               width = "50px" height = "60px">
        </td>
        <td th:text="${list.getClothId()}"></td>
        <td th:text="${list.getSubCategory().getSubName()}"></td>
        <!-- 상세 페이지 -->
        <td class="text-start">
          <img th:src="|/icon/new.png|" alt="이미지 없음" width = "30px" height = "30px"
               th:if="${#dates.format(list.getRegDate(), 'yyyy-MM-dd') == #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
          <img th:src="|/icon/only.png|" alt="이미지 없음" width = "45px" height = "18px"
               th:if="${list.getSubCategory().getMainCategory().getMainName() == 'onlySuncloth'}">
          <img th:src="|/icon/best.png|" alt="이미지 없음" width = "45px" height = "18px"
               th:if="${list.getIcon() == 'best'}">
          <img th:src="|/icon/hot.png|" alt="이미지 없음" width = "45px" height = "18px"
               th:if="${list.getIcon() == 'hot'}">
          <img th:src="|/icon/minPrice.png|" alt="이미지 없음" width = "30px" height = "30px"
               th:if="${list.getIcon() == 'minPrice'}">
          <a href="#;" th:onclick="withItemSelected(this.className)" th:classappend="${list.getClothId()}"
             th:id="|clothName_${list.getClothId()}|" th:text="${list.getClothName()}"></a>
        </td>
        <td th:text="${list.getBasePrice()}"></td>
        <td th:text="${list.getDeliPrice()}"></td>
      </tr>
    </th:block>
    <tr class = "text-center td-py10 td-px15" th:if="${clothList.getNumberOfElements() == 0}">
      <td colspan = "6">
        등록된 상품이 없습니다. 상품을 등록해주세요.
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Paging Block -->
  <div class="position-relative w-90 pt-10 mx-auto"><!-- 삭제 버튼 Block -->
    <!-- Paging Process : clothList > 0-->
    <div th:if="${clothList.getNumberOfElements() > 0}">
      <ul class="pagination justify-content-center my-0" id="pagingBlock">
        <li class="page-item" th:classappend="${1 == clothList.pageable.pageNumber+1} ? 'disabled'">
          <a class="page-link" href="#;" th:onclick="clothPaging(this.id)" th:id="${clothList.pageable.pageNumber - 1}">&lt;</a>
        </li>
        <li class="page-item" th:classappend="${i == clothList.pageable.pageNumber+1} ? 'disabled'"
            th:each="i : ${#numbers.sequence(startPage, endPage)}">
          <a class="page-link" href="#;" th:onclick="clothPaging(this.id)" th:id="${i - 1}" th:text="${i}">1</a>
        </li>
        <li class="page-item" th:classappend="${clothList.totalPages == clothList.pageable.pageNumber+1} ? 'disabled'">
          <a class="page-link" href="#;" th:onclick="clothPaging(this.id)" th:id="${clothList.pageable.pageNumber + 1}">&gt;</a>
        </li>
      </ul>
    </div>
    <!-- Paging Process : clothList == 0 -->
    <div th:if="${clothList.getNumberOfElements() == 0}">
      <ul class="pagination justify-content-center my-0" id="pagingBlock">
        <li class="page-item disabled"><a class="page-link">&lt;</a></li>
        <li class="page-item disabled"><a class="page-link">1</a></li>
        <li class="page-item disabled"><a class="page-link">&gt;</a></li>
      </ul>
    </div>

    <!--<div class="position-absolute top-0 end-0">
      <input type = "submit" value = "확인" class="grayButton py-10 px-15">
    </div>-->
  </div>

</section>

</body>
</html>