<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/guest_common :: head('popup')">
  <meta charset="UTF-8">
  <title>withItemsSelect</title>
</head>
<body>

<!--
1. checkbox로 상품 선택하면 script로 다른 공간에 해당 items 값들 저장해둠
==> 1) script에서 리스트 변수로 저장해둠
==> 2) 사이트에 hidden으로 inputbox를 생성해줌)
2. 페이지 넘길 때 상품 리스트 보여주는 부분만 Ajax를 이용해서 바꾸어줌
==> 곧 checkbox로 체크를 하면 다른 곳에 값은 그대로 저장이 되고, 상품 리스트만 바꾸어줌
==> Ajax시 값 가져올 때 값 저장해둔 부분의 품번과 같은 상품이 있다면 checkbox checked는 true로 해줌
-->
<header class="bg-secondary text-white fs-8 py-10 px-20 w-100">
  <b>WITH ITEMS</b>
</header>

<!-- With Items List -->
<section>
  <!-- 게시판 개수 출력 / 출력할 개수 선택 Block -->
  <div class="d-flex vertical-middle-all w-95 mx-auto">
    <!-- 현재 가져온 게시판이 총 몇개이고 그 중 몇개가 한페이지에 출력이 되어있는지 확인 -->
    <div class="me-auto pt-20 px-15 pb-12 fs-9">
      <b th:text="| 검색 ${10}건 / 총 ${50}건 |"></b>
    </div>

    <!-- 출력 수 제한 및 정렬을 위해 select시 목록의 변화가 일어나야 하는 부분 -->
    <div class="pt-20 px-15 pb-12">
      <select class="fs-75 align-middle py-6" id="searchType" name="searchType">
        <option value="name">상품명</option>
      </select>
      <input type="search" class="fs-75 align-middle py-5px" placeholder="search">
      <button type="button" class="whiteButton fs-75 align-middle py-5px">검색</button>
    </div>
  </div>

  <table class="table text-center fs-75 w-90 mx-auto bg-white border-bottom-1-ccc border-top-1-ccc td-border-bottom-1-ccc vertical-middle-all a-tag-css">
    <thead>
    <tr class="fw-bold border-0 td-py15 td-px15">
      <td>
        <input type = "checkbox" name = "prdCheck" id = "prdCheckAll"  value = "전체선택">
      </td>
      <td>이미지</td>
      <td>카테고리</td>
      <td>상품명</td>
      <td>판매가</td>
    </tr>
    </thead>
    <tbody>
    <!--<th:block th:if="${srhCnt > 0}">-->
    <tr class = "text-center td-py10 td-px15"><!--th:each="list:${list}"-->
      <td><input type = "checkbox" name = "prdChecks" value = "${list.num}"></td>
      <td> <!-- th:if="${list.mainfile != null}" -->
        <img src="https://cdn-icons-png.flaticon.com/128/2957/2957307.png"
             width = "50px" height = "60px">
      </td>
      <!-- 상세 페이지 -->
      <td th:text="${'outer'}">
        ${list.mediumpartname}
      </td>
      <td class="text-start">
        <a th:href="@{/host/productView(name='text')}"
           th:text="|누군가가 훔쳐갈 수도 있는 아름다운 여름 옷|"> <!--href = "h_productForm?num=${list.num}&number=${number+1}&pageNum=${pageNum}"-->
          ${list.name}
        </a></td>
      <td><b th:text="|KRW 15000|">KRW ${list.saleprice}</b></td>
    </tr>
    <!--</th:block>-->
    <!--<tr class = "text-center td-py10 td-px15">
      <td colspan = "10">
        게시글이 없습니다. 글을 작성해주세요!!
      </td>
    </tr>-->
    </tbody>
  </table>

  <!-- Paging Block -->
  <div class="position-relative w-90 pt-10 mx-auto"><!-- 삭제 버튼 Block -->
    <div>
      <ul class="pagination justify-content-center my-0">
        <li class="page-item disabled">
          <a class="page-link">&lt;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&gt;</a>
        </li>
      </ul>
    </div>

    <div class="position-absolute top-0 end-0">
      <input type = "submit" value = "확인" class="grayButton py-10 px-15">
    </div>
  </div>

</section>

</body>
</html>