<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/guest_common :: head('register')">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body class="text-center">
<!-- guest page header(guest_common.html) -->
<header th:replace="fragments/guest_common :: header"></header>

<!-- TitleName Block(제목 부분) -->
<section th:replace="fragments/guest_common :: headName(${name})"></section>

<!-- 수정페이지일 경우 회원에게 감사인사하기 -->
<div th:if="${name == 'PROFILE'}">
    <p><span class="text-secondary" th:text="${'kim'}">${vo.name}</span>님 저희 쇼핑몰을 이용해주셔서 감사합니다.</p>
</div>

<!-- 회원가입을 위한 정보 블럭(Register Form) -->
<form class="body row g-3" novalidate th:action="@{/account/register_finish}" method="post">
    <!-- 기본정보 -->
    <table class="table caption-top text-start vertical-middle-all">
        <caption class="text-secondary ms-4"><h5><b>&lt;기본정보&gt;</b></h5></caption>
        <colgroup>
            <col width="20%">
            <col width="80%">
        </colgroup>
        <tbody>
        <!-- ID -->
        <tr class="border-top">
            <th scope="row">
                <label for="idInput" class="ms-2 col-form-label">
                    <span class="text-danger">*</span> ID
                </label>
            </th>
            <td>
                <div class="mx-3" id="IDForm">
                    <input type="text" id="idInput" name="username" class="form-control" required
                           th:value="${name=='PROFILE'}? 'kim'" th:readonly="${name=='PROFILE'}? 'true'" th:oninput="idCheck(this.value)">
                    <div id="IDdiv"></div>
                </div>
            </td>
        </tr>
        <!-- Password -->
        <tr>
            <th scope="row">
                <label for="pwdInput" class="ms-2 col-form-label">
                    <span class="text-danger">*</span> Password
                </label>
            </th>
            <td>
                <div class="mx-3" id="PWDForm">
                    <input type="password" id="pwdInput" name="password" class="form-control" th:oninput="pwdCheck(this.value)" required>
                    <div id="pwdDiv" class="mt-2"></div>
                </div>
            </td>
        </tr>
        <!-- Password Chk -->
        <tr>
            <th scope="row">
                <label for="pwdChkInput" class="ms-2 col-form-label">
                    <span class="text-danger">*</span> Password Chk
                </label>
            </th>
            <td>
                <div class="mx-3" id="PWDChkForm">
                    <input type="password" id="pwdChkInput" name="passwordChk" class="form-control" th:oninput="pwdChkCheck(this.value)" required>
                    <div id="pwdChkDiv" class="mt-2"></div>
                </div>
            </td>
        </tr>
        <!-- username -->
        <tr>
            <th scope="row">
                <label for="userNameInput" class="ms-2 col-form-label">
                    <span class="text-danger">*</span> username
                </label>
            </th>
            <td>
                <div class="mx-3">
                    <input type="text" id="userNameInput" name="name" class="form-control"
                           th:value="${name=='PROFILE'}? 'kim'" required>
                </div>
            </td>
        </tr>
        <!-- Address -->
        <tr>
            <th scope="row">
                <label for="addressInput" class="ms-2 col-form-label">
                    <span class="text-danger">*</span> Address
                </label>
            </th>
            <td>
                <div>
                    <div class="mx-3 mb-2 d-flex">
                        <input type="text" id="addressInput" name="address"
                               th:value="${name=='PROFILE'}? '14451'" class="form-control w-25" required>
                        <button type="button" class="btn btn-outline-secondary" th:onclick="addressSearch()">우편번호</button>
                    </div>
                </div>
                <div class="form-floating mx-3 mb-2">
                    <input type="text" id="subAddressInput" name="subAddress"
                           th:value="${name=='PROFILE'}? '서울시 강남구'" class="form-control" required>
                    <label for="subAddressInput">SubAddress</label>
                </div>
                <div class="form-floating mx-3 mb-2">
                    <input type="text" id="detailAddressInput" name="detailAddress"
                           th:value="${name=='PROFILE'}? '선우아파트 901호'" class="form-control" required>
                    <label for="detailAddressInput">DetailAddress</label>
                </div>
            </td>
        </tr>
        <!-- userPhoneNumber -->
        <tr>
            <th scope="row">
                <label for="baseHPInput" class="ms-2 col-form-label">
                    <span class="text-danger">*</span> Phone Number
                </label>
            </th>
            <td>
                <div class="mx-3 d-flex">
                    <select class="form-select w-25" id="baseHPInput" name="baseHP" aria-label="Default select example" required>
                        <option value="010" th:selected="${name=='PROFILE'}? true">010</option>
                        <option value="011">011</option>
                        <option value="012">012</option>
                    </select>
                    <span>&nbsp;-&nbsp;</span>
                    <input type="text" id="secondHPInput" name="secondHP"
                           th:value="${name=='PROFILE'}? '1234'" class="form-control w-50" required>
                    <span>&nbsp;-&nbsp;</span>
                    <input type="text" id="thirdHPInput" name="thirdHP"
                           th:value="${name=='PROFILE'}? '5678'" class="form-control w-50" required>
                    <button type="button" class="btn btn-outline-secondary w-25" th:onclick="SMSFormal()">인증</button>
                </div>
            </td>
        </tr>
        <!-- formal Number Check -->
        <tr id="keyCheckForm" class="d-none">
            <th scope="row">
                <input type="hidden" id="keyNumber"/>
                <input type="hidden" id="keyNumberCheckYN" value="0" />
                <label for="formalInput" class="ms-2 col-form-label">
                    <span class="text-danger">*</span> 인증번호
                </label>
            </th>
            <td>
                <div class="mx-3 d-flex flex-row">
                    <input type="text" id="formalInput" name="formalNum" class="form-control w-25">
                    <button type="button" class="btn btn-outline-secondary" th:onclick="SMSFormalCheck()">확인</button>
                    <div id="formalDiv" class="ms-3 mt-2"></div>
                </div>
            </td>
        </tr>
        <!-- Email -->
        <tr>
            <th scope="row">
                <label for="idNameInput" class="ms-2 col-form-label">
                    <span class="text-danger">*</span> Email
                </label>
            </th>
            <td>
                <div class="mx-3 d-flex">
                    <input type="text" id="idNameInput" name="idName"
                           th:value="${name=='PROFILE'}? 'kim'" class="form-control" required>
                    <span>&nbsp;@&nbsp;</span>
                    <input type="text" id="urlCodeInput" name="urlCode"
                           th:value="${name=='PROFILE'}? 'naver.com'" class="form-control" required>
                    <select class="form-select" id="urlSelect" name="urlSelect" aria-label="Default select example" th:onchange="urlSelected()">
                        <option selected>직접입력</option>
                        <option value="naver.com">naver.com</option>
                        <option value="daum.com">daum.com</option>
                        <option value="nate.com">nate.com</option>
                        <option value="gmail.com">gmail.com</option>
                        <option value="hanmail.com">hanmail.com</option>
                    </select>
                </div>
            </td>
        </tr>

        <!-- 가입일(Register Date) -->
        <tr th:if="${name == 'PROFILE'}">
            <th>
                <label for="idNameInput" class="ms-2 col-form-label">
                    Register Date
                </label>
            </th>
            <td><span th:text="${'2021-05-06'}" class="ms-3">${vo.reg_date}</span></td>
        </tr>
        </tbody>
    </table>

    <!-- 추가정보 -->
    <table class="table caption-top text-start mt-4 vertical-middle-all">
        <caption class="text-secondary ms-4"><h5><b>&lt;추가정보&gt;</b></h5></caption>
        <colgroup>
            <col width="20%">
            <col width="80%">
        </colgroup>
        <tbody>
        <!-- BirthDay -->
        <tr class="border-top">
            <th scope="row">
                <label class="ms-2 col-form-label"> BirthDay</label>
            </th>
            <td>
                <div class="mx-3 d-flex">
                    <input type="date" id="birthDayInput" name="birthDay"
                           th:value="${name == 'PROFILE'}? '2021-05-15'" class="form-control w-50 me-2">
                    <div class="ms-3 form-check-inline align-self-center">
                        <input type="radio" name="birthTypes"
                               id="birthType1" value="yang" th:checked="${name == 'PROFILE'}? true">
                        <label class="" for="birthType1">양력</label>
                    </div>
                    <div class="form-check-inline align-self-center">
                        <input type="radio" name="birthTypes" id="birthType2" value="umm">
                        <label class="" for="birthType2">음력</label>
                    </div>
                </div>
            </td>
        </tr>
        <!-- refund account info -->
        <tr>
            <th scope="row">
                <label for="addressInput" class="ms-2 col-form-label">
                    Refund Account
                </label>
            </th>
            <td th:if="${name=='JOIN US'}">
                <div>
                    <div class="form-floating mx-3 mb-2">
                        <input type="text" id="accHostInput" name="accHost" class="form-control">
                        <label for="accHostInput">AccHost</label>
                    </div>
                </div>
                <div class="form-floating mx-3 mb-2">
                    <select class="form-select" id="bankInput" name="bank">
                        <option selected>==선택==</option>
                        <option value="기업">기업</option>
                        <option value="국민">국민</option>
                        <option value="농협">농협</option>
                        <option value="우리">우리</option>
                        <option value="신한">신한</option>
                        <option value="삼성증권">삼성증권</option>
                        <option value="새마을금고">새마을금고</option>
                        <option value="카카오뱅크">카카오뱅크</option>
                    </select>
                    <label for="bankInput">Bank</label>
                </div>
                <div class="form-floating mx-3 mb-2">
                    <input type="text" id="accNumberInput" name="accNumber" class="form-control">
                    <label for="accNumberInput">accNumber</label>
                </div>
            </td>
            <td th:if="${name == 'PROFILE'}">
                <span th:text="|[${'기업'}] ${'1002-156-123456'} / 예금주 : ${'kim'}|" class="ms-3">[${vo.bank}] ${vo.acc} / 예금주: ${vo.acchost}</span>
                <input type = "button" class="whiteButton" value = "환불계좌변경" name = "refundAccountChange" onclick = "modifyacc();">
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 약관동의 구간(agree Block) -->
    <article th:if="${name == 'JOIN US'}">
        <h5 class="text-start text-secondary mt-4 ms-4 mb-3"><b>&lt;약관동의&gt;</b></h5>
        <!-- using Check Info & agree Chk -->
        <div class="form-floating">
            <textarea class="form-control" id="useInfo" readonly>
    First heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    Second heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    Third heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    Four heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    Five heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
            </textarea>
            <label for="useInfo">Using Info</label>
        </div>
        <div class="my-3">
            <div class="d-flex flex-row-reverse">
                <input class="form-check-input" type="checkbox" id="useAgree" name="agrees" th:onchange="agreeCheck()" required>
                <label class="form-check-label" for="useAgree"> 동의함 </label>
                <span class="text-danger me-1">*</span>
            </div>
        </div>

        <!-- UserData Check & Agree Chk -->
        <div class="form-floating">
            <textarea class="form-control" id="dataInfo" readonly>
    First heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    Second heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    Third heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    Four heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    Five heading
    This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
            </textarea>
            <label for="dataInfo">UserData Info</label>
        </div>
        <div class="my-3">
            <div class="d-flex flex-row-reverse">
                <input class="form-check-input" type="checkbox" id="dataAgree" name="agrees" th:onchange="agreeCheck()" required>
                <label class="form-check-label" for="dataAgree"> 동의함 </label>
                <span class="text-danger me-1">*</span>
            </div>
        </div>
        <div class="mt-4 mb-3">
            <div>
                <input class="form-check-input" type="checkbox" id="allAgree" name="allAgree" th:onchange="allCheck()" required>
                <label class="form-check-label" for="allAgree"> 전체 동의함 </label>
            </div>
        </div>
    </article>

    <!-- 버튼 목록(Buttons) -->
    <div class="p-2" th:if="${name == 'JOIN US'}">
        <button type="submit" class="btn btn-outline-dark w-100">회원가입</button>
    </div>
    <div class="text-center mt-30 mb-50 position-relative"
         th:if="${name == 'PROFILE'}">
        <div class="position-absolute top-50 start-50 translate-middle">
            <input type = "submit" class="blackBaseButton px-10 py-10" value = "회원정보수정">
            <input type = "button" class="whiteBaseButton py-10 px-10 fs-8" value = "취소" onclick = "window.history.back();">
        </div>
        <div class="position-absolute top-50 end-0 translate-middle-y">
            <input type = "button" class="whiteBaseButton py-10 px-10 fs-8 " value = "회원탈퇴" onclick = "deletePro();">
        </div>
    </div>
</form>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

<script>
    // *** 비밀번호 정규식 ***
    // 1) 최소 하나 이상의 소문자, 하나의 대문자, 하나의 숫자, 하나의 특수문자, 최소 8 자리
    // 2) 비밀번호 6 자리 이상, 모든 요구 사항을 충족하거나 숫자만 빼고 나머지를 충족하는 경우
    // 3) 비밀번호 6 자리 이상, 최소 하나 이상의 대소문자, 하나의 숫자, 하나의 특수문자
    let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})');
    let mediumStrongPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))');
    let mediumPassword = new RegExp('(((?=.*[a-z])|(?=.*[A-Z]))(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))');

    // *** 휴대폰 번호 정규식 ***
    let regPhone = /^01([0|1|2|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;

    // ID 중복검사
    function idCheck(id){
        const idForm = document.getElementById("IDForm");
        const idDiv = document.getElementById("IDdiv");

        $.ajax({
            url: '/api/userCheck/' + id,
            type: 'GET',
            success: (result) => {
                //AJAX 성공시 실행 코드
                if(id === ""){
                    idDiv.previousElementSibling.className = "form-control is-invalid";
                    idDiv.className = "invalid-feedback"
                    idDiv.innerText = "입력해주세요.";
                } else if(result === ""){
                    idDiv.previousElementSibling.className = "form-control is-valid";
                    idDiv.className = "valid-feedback";
                    idDiv.innerText = "사용가능한 아이디입니다.";
                } else {
                    idDiv.previousElementSibling.className = "form-control is-invalid";
                    idDiv.className = "invalid-feedback"
                    idDiv.innerText = "중복된 아이디입니다. 사용이 불가능합니다.";
                }
            }
        });
    }

    // PWD 보안 강함, 보통, 약함
    function pwdCheck(pwd){
        const pwdDiv = document.getElementById("pwdDiv");
        if(pwd === ""){
            pwdDiv.previousElementSibling.className = "form-control is-invalid";
            pwdDiv.className = "invalid-feedback"
            pwdDiv.style.color = "red";
            pwdDiv.textContent = "입력해주세요.";
        } else if(strongPassword.test(pwd)){
            pwdDiv.previousElementSibling.className = "form-control is-valid";
            pwdDiv.className = "valid-feedback";
            pwdDiv.style.color = "green";
            pwdDiv.textContent = "강함";
        } else if(mediumPassword.test(pwd)){
            pwdDiv.previousElementSibling.className = "form-control is-valid";
            pwdDiv.className = "valid-feedback";
            pwdDiv.style.color = "blue";
            pwdDiv.textContent = "보통";
        } else {
            pwdDiv.previousElementSibling.className = "form-control is-invalid";
            pwdDiv.className = "invalid-feedback"
            pwdDiv.style.color = "red";
            pwdDiv.textContent = "위험(영문, 특수문자, 숫자를 1가지 이상씩 넣어주세요)";
        }
    }

    // PWDChk 일치 확인
    function pwdChkCheck(pwdChk){
        const pwd = document.getElementById("pwdInput").value;
        const pwdChkDiv = document.getElementById("pwdChkDiv");
        if(pwd !== pwdChk){
            pwdChkDiv.previousElementSibling.className = "form-control is-invalid";
            pwdChkDiv.className = "invalid-feedback"
            pwdChkDiv.style.color = "red";
            pwdChkDiv.textContent = "비밀번호가 일치하지 않습니다.";
        } else {
            pwdChkDiv.previousElementSibling.className = "form-control is-valid";
            pwdChkDiv.className = "valid-feedback";
            pwdChkDiv.style.color = "green";
            pwdChkDiv.textContent = "비밀번호가 일치합니다.";
        }
    }

    // SMS 인증 번호 전송
    function SMSFormal(){
        const keyCheckForm = document.getElementById("keyCheckForm");
        const keyHiddenInput = document.getElementById("keyNumber");
        const baseHP = document.getElementById("baseHPInput").value;
        const secondHP = document.getElementById("secondHPInput").value;
        const thirdHP = document.getElementById("thirdHPInput").value;
        if(!regPhone.test(baseHP + "-" + secondHP + "-" + thirdHP)){
            alert("번호입력이 잘못되었습니다. 다시 입력해주세요.");
        } else {
            const phoneNumber = baseHP+secondHP+thirdHP;
            $.ajax({
                url: '/smsApi/send-one/' + phoneNumber,
                type: 'GET',
                success: (result) => {
                    //AJAX 성공시 실행 코드
                    alert(result); // 인증번호 가져온거 alert 띄워줌
                    alert("인증번호가 발송되었습니다.");
                    keyCheckForm.className = "";
                    keyHiddenInput.value = result;
                }
            });
        }
    }

    // SMS 인증 번호 일치 확인
    function SMSFormalCheck() {
        const keyHiddenInput = document.getElementById("keyNumber");
        const formalInput = document.getElementById("formalInput");
        const formalDiv = document.getElementById("formalDiv");
        if(keyHiddenInput.value === formalInput.value) {
            formalDiv.style.color = "green";
            formalDiv.textContent = "비밀번호가 일치합니다.";
        } else {
            formalDiv.style.color = "red";
            formalDiv.textContent = "비밀번호가 일치하지 않습니다.";
        }
    }

    // Email urlSelect 시 동작 함수
    function urlSelected() {
        const urlSelect = document.getElementById("urlSelect");
        const urlCodeInput = document.getElementById("urlCodeInput");
        if(urlSelect.value === "0"){
            urlCodeInput.value = "";
            urlCodeInput.focus();
            return false;
        } else {
            urlCodeInput.value = urlSelect.value;
            return false;
        }
    }

    /* checkbox 한번에 체크 함수 */
    function allCheck() {
        const allAgree = document.getElementById("allAgree");
        const useAgree = document.getElementById("useAgree");
        const dataAgree = document.getElementById("dataAgree");
        if(allAgree.checked){
            useAgree.checked = true;
            dataAgree.checked = true;
        } else {
            useAgree.checked = false;
            dataAgree.checked = false;
        }
    }

    /* checkbox 제거 시에 all체크 제거 함수 */
    function agreeCheck() {
        const allAgree = document.getElementById("allAgree");
        const useAgree = document.getElementById("useAgree");
        const dataAgree = document.getElementById("dataAgree");
        if(!useAgree.checked){ allAgree.checked = false; }
        else { allAgree.checked = dataAgree.checked; }
    }

    // 우편번호 버튼 클릭 기능
    function addressSearch(){
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    fullAddr = data.roadAddress;

                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    fullAddr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('addressInput').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('subAddressInput').value = fullAddr;

                // 커서를 상세주소 필드로 이동한다.
                document.getElementById('detailAddressInput').focus();
            }
        }).open();
    }
</script>
<footer th:replace="fragments/guest_common :: footer"></footer>
</body>
</html>