.boardView-header td {
    padding: 10px;
    border-top:1px solid rgba(204, 204, 204 ,0.3);
}

.boardView-header tr:nth-child(2) td{
    border-top:1px solid #ccc;
}

.board-beforeAfter {
    margin: 50px 0 120px;
    width: 100%;
}

.board-beforeAfter table {
    width: 100%;
}

.board-beforeAfter td {
    font-size: 0.8em;
    padding: 10px 0 10px 12px;
}

.replyContents {
    width: 100%;
    font-size: .75em;
    border: 1px solid #ccc;
    background-color:lightyellow;
}

.replyContents td {
    padding: 5px 12px;
}

.replyContents a {
    text-decoration: none;
    color: black;
}