/* style class 변수들 */

/* 버튼 스타일 */
.whiteBaseButton{
    background: #fff;
    border: 1px solid #ccc;
}

.whiteButton {
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid #bbb;
    border-radius: 0;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #353535;
    background-color: #fff;
    transition: all 0.15s ease;
}

.whiteMSizeButton{
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #ccc;
}

.grayButton {
    color: white;
    background: gray;
    border: none;
}

.blackBaseButton {
    background: #282828;
    color: white;
    font-size: .8em;
}

.blackButton {
    width:100%;
    padding: 10px 0;
    background: #282828;
    color: white;
    border: 1px solid #ccc;
    font-size: .8em;
}

.blackBoxButton {
    box-sizing: border-box;
    padding: 2px 8px;
    border: none;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: #000;
    transition: all 0.15s ease;
}

.searchBtn {
    background: url("https://cdn-icons-png.flaticon.com/128/2811/2811790.png") no-repeat;
    background-size:cover;
    cursor: pointer;
    border: none;
    width: 25px;
    height: 25px;
}

.blueBaseBtn{
    color: white;
    background-color: #7FB3D5;
    border: none;
}

/* color */
.color-ccc { color: #ccc; }
.color-gray { color: gray; }

/* font-size */
.fs-65 { font-size: 0.65em; }
.fs-75 { font-size: .75em; }
.fs-8 { font-size: 0.8em;}
.fs-9 { font-size: 0.9em; }
.fs-15 { font-size: 1.5em;}
.fs-30px { font-size: 30px; }
.fs-40px { font-size: 40px; }

/* padding */
.p-5px { padding: 5px;}
.px-6 { padding-left: 6px; padding-right: 6px; }
.px-10 { padding-left: 10px; padding-right: 10px; }
.px-15 { padding-left: 15px; padding-right: 15px; }
.px-20 { padding-left: 20px; padding-right: 20px; }
.py-5px { padding-bottom: 5px; padding-top: 5px; }
.py-6 { padding-bottom: 6px; padding-top: 6px; }
.py-9 { padding-bottom: 9px; padding-top: 9px; }
.py-10 { padding-bottom: 10px; padding-top: 10px; }
.py-15 { padding-bottom: 15px; padding-top: 15px; }
.py-20 { padding-bottom: 20px; padding-top: 20px; }
.ps-5px { padding-left: 35px; }
.pt-10 { padding-top: 10px; }
.pt-20 { padding-top: 20px; }
.pb-12 { padding-bottom: 12px; }
.pb-15 { padding-bottom: 15px; }

/* margin */
.mx-15 { margin-right: 15px; margin-left: 15px }
.mx-20 { margin-right: 20px; margin-left: 20px }
.mx-40 { margin-right: 40px; margin-left: 40px }
.my-10{ margin-bottom: 10px; margin-top: 10px }
.my-15{ margin-bottom: 15px; margin-top: 15px }
.my-25{ margin-bottom: 25px; margin-top: 25px }
.mt-10{ margin-top: 10px; }
.mt-15{ margin-top: 15px; }
.mt-30{ margin-top: 30px; }
.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-50{ margin-bottom: 50px; }

/* border-style css */
.border-all-1-ccc { border: 1px solid #ccc; }
.border-y-1-ccc { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; }
.border-bottom-1-ccc { border-bottom: 1px solid #ccc; }
.border-bottom-3-ccc { border-bottom: 3px solid #ccc; }
.border-top-1-ccc { border-top: 1px solid #ccc; }
.border-right-1-ccc { border-right: 1px solid #ccc; }

/* body width css */
.body {
    width: 90%;
    margin: 0 auto;
}
.hostBody {
    background-color: #f2f4f4;
    margin: auto 0;
    padding: 0;
}
.wh-100px { width: 100px; height: 100px; }
.w-98 { width: 98%; }
.w-97 { width: 97%; }
.w-95 { width: 95%; }
.w-92 { width: 92%; }
.w-90 { width: 90%; }
.w-49 { width: 49%; }
.w-45 { width: 45%; }
.w-40 { width: 40%; }
.w-35 { width: 35%; }
.w-30 { width: 30%; }
.w-25 { width: 25%; }
.w-20 { width: 20%; }
.w-15 { width: 15%; }
.w-10 { width: 10%; }
.w-5 { width: 5%; }
.h-10 { height: 12%; }

/* box size */
.resize-none {
    resize: none;
}
.resize-vertical {
    resize: vertical;
}

/* a tag css */
.a-tag-css a {
    text-decoration: none;
    color: black;
}
.a-tag-hover a:hover {
    opacity: 0.5;
}

/* align */
.vertical-middle-all * { vertical-align: middle; }

/* table css */
.td-py8 td{ padding-top: 8px; padding-bottom: 8px; }
.td-py10 td{ padding-top: 10px; padding-bottom: 10px; }
.td-py25 td{ padding-top: 25px; padding-bottom: 25px; }
.td-px5 td{ padding-right: 5px; padding-left: 5px; }
.td-px8 td{ padding-right: 8px; padding-left: 8px; }
.td-px12 td{ padding-right: 12px; padding-left: 12px; }
.td-px15 td{ padding-right: 15px; padding-left: 15px; }
.td-px30 td{ padding-right: 30px; padding-left: 30px; }
.td-pt12 td{ padding-top: 12px; }
.td-border-bottom-1-ccc td { border-bottom: 1px solid #ccc; }
.tdChild1-border-right-1-ccc td:nth-child(1){ border-right: 1px solid #ccc; }
.tdChild1-fs-37 td:nth-child(1) { font-size: 37px; }
.tdChild1-text-start td:nth-child(1){ text-align:left; }
.tdChild1-text-center td:nth-child(1){ text-align:center; }
.tdChild1-bg-lightGray td:nth-child(1) { background-color:#EAECEE; }
.tdChild1-fw-bold td:nth-child(1) { font-weight: bold; }
.tdChild2-text-end td:nth-child(2){ text-align:right; }


.table-thGray-tdOddGray tr th {
    background-color:#ABB2B9;
    color:#fff;
    font-size:1em;
    padding:5px 0;
    text-align: center;
    border: 1px solid white;
}
.table-thGray-tdOddGray tr td {
    text-align:right;
    padding: 5px;
    border: 1px solid white;
}
.table-thGray-tdOddGray tr:nth-child(even){
    background-color:#EAECEE;
}
.table-thGray-tdOddGray tr td:nth-child(1){
    text-align:left;
}

/* text-color */
.text-green { color:green; }
.text-skyblue { color:skyblue; }
.text-blue { color:blue; }
.text-violet { color:violet; }
.text-red { color:red; }

/* bg-color */
.bg-EAECEE {
    background-color: #EAECEE;
}