#mainname{
    text-align:center;
    margin:0 auto 30px;
}
#mainname a {
    text-decoration: none;
    color: black;
}

nav {
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding:10px;
}

nav a {
    font-size:1.1em;
    padding:5px 12px;
}

.navi a{
    text-decoration: none;
    color: black;
}

.navi a:hover, .navi a:focus{
    opacity: 0.5;
}

#foot{
    background: #F2F3F4;
}

#foot *{
    font-size:.9em;
}

#footContext {
    width: 80%;
    margin: 20px auto;
}

#footContext a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* style class 변수들 */

/* 버튼 스타일 */
.whiteButton {
    box-sizing: border-box;
    padding: 2px 8px;
    border: 1px solid #bbb;
    border-radius: 0;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #353535;
    background-color: #fff;
    transition: all 0.15s ease;
}
.blackButton {
    width:100%;
    padding: 10px 0;
    background: #282828;
    color: white;
    border: 1px solid #ccc;
    font-size: .8em;
}

/* color */
.color-ccc { color: #ccc; }
.color-gray { color: gray; }

/* font-size */
.fs-65 { font-size: 0.65em; }
.fs-75 { font-size: .75em; }
.fs-8 { font-size: 0.8em;}
.fs-9 { font-size: 0.9em; }
.fs-30px { font-size: 30px; }

/* padding */
.px-6 {
    padding-left: 6px;
    padding-right: 6px;
}
.py-9 {
    padding-bottom: 9px;
    padding-top: 9px;
}

.py-20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

/* margin */
.mt-10{ margin-top: 10px; }
.mt-15{ margin-top: 15px; }
.mt-30{ margin-top: 30px; }
.mb-20{ margin-bottom: 20px; }
.mb-50{ margin-bottom: 50px; }

/* border-style css */
.border-bottom-3-ccc {
    border-bottom: 3px solid #ccc;
}

.body {
    width: 90%;
    margin: 0 auto;
}