#mainname{
    text-align:center;
    margin:0 auto 30px;
}
#mainname a {
    text-decoration: none;
    color: black;
}

nav {
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding:10px;
}

nav a {
    font-size:1.1em;
    padding:5px 12px;
}

.navi a{
    text-decoration: none;
    color: black;
}

.navi a:hover, .navi a:focus{
    opacity: 0.5;
}

#foot{
    background: #F2F3F4;
}

#foot *{
    font-size:.9em;
}

#footContext {
    width: 80%;
    margin: 20px auto;
}

#footContext a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}