#body{
    width: 90%;
    margin: 0 auto;
}

.searchBox {
    margin: 30px 0px 0px;
    padding: 30px 20px;
}

.searchBox * {
    font-size: 0.7em;
    vertical-align: middle;
}

.basetext{
    font-size:.75em;
    color:gray;
    margin: 0px 0px 30px;
}

#orderList{
    text-align: center;
    font-size: .7em;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle;
}

.orderListTitle td{
    padding: 10px 0;
}

.orderPrd td{
    border-right: 1px solid #cccccc;
}

.orderPrd td:last-child{
    border-right: 0;
}

.orderPrd a {
    color: black;
}

.cancelBtn{
    width:100px;
    padding: 3px 0px;
    background: #ccc;
    color: white;
    border: 1px solid #ccc;
    font-size: 1em;
    margin: 1px 0px;
}

.refundBtn{
    width:100px;
    padding: 3px 0px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 1em;
    margin: 1px 0px;
}

/* 환불계좌 변경 목록 */
.refundInfoTable {
    width:100%;
    border-top: 1px solid #ccc;
    border-collapse: collapse;
    font-size: .7em;
    margin: 15px 15px;
}

.refundInfoTable td {
    border-bottom: 1px solid #ccc;
    padding: 8px 0 8px 8px;
}
.refundInfoTable td:first-child{
    border-right: 1px solid #ccc;
}

.refundUpdateBtn {
    width:100px;
    color: white;
    background: #000000;
    border: none;
    padding: 10px;
    font-size: .8em;
}

.exitBtn{
    width:100px;
    padding: 10px 0px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: .8em;
}