#body {
    width: 90%;
    margin: 0 auto;
}

.road{
    text-align:right;
    font-size:.8em;
    color:#ccc;
}

.topName{
    text-align: center;
}

.topName b{
    border-bottom: 3px solid #ccc;
}

.benefitInfo {
    margin: 30px 0;
    font-size: .7em;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
}

.benefitInfo td {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.orderList {
    text-align: center;
    font-size: .7em;
    width: 100%;
}

.orderListTitle td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.orderListTitle * {
    vertical-align: middle;
}

.optionText {
    color: #282828;
}

.orderPrd td{
    border-bottom: 1px solid #ccc;
}

.orderSubText td {
    padding: 5px 0 0;
}

.deliTable, .messageTable, .totalTable,
.mileageTable, .paymentTable {
    width:100%;
    border-collapse:collapse;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.deliTable, .messageTable, .mileageTable, .paymentTable {
    margin: 0 0 30px;
}

.deliTable > tr > td:nth-child(1),
.messageTable > tr > td:nth-child(1),
.mileageTable > tr > td:nth-child(1),
.paymentTable > tr > td:nth-child(1),
.paySelectAccountInfo tr td:nth-child(1){
    border-right: 1px solid #ccc;
}

.deliTable tr td,
.messageTable tr td,
.mileageTable tr td{
    border-bottom: 1px solid #ccc;
    padding: 9px 12px;
    font-size: 0.75em;
}

.paySelect {
    border-bottom: 1px solid #ccc;
    border-right:1px solid #ccc;
    padding: 9px 12px;
    font-size: 0.75em;
    font-weight: bold;
}

.paySelectInfo {
    padding:15px 12px;
    border-right:1px solid #ccc;
    vertical-align:top;
}

.paySelectAccountInfo tr td {
    padding:15px 12px;
    border-top:1px solid #ccc;
}

.deliTable tr td input,
.messageTable tr td input {
    font-size: 0.7em;
}

.deliTable tr td *,
.messageTable tr td *,
.totalTable tr td *,
.paymentTable tr td * {
    vertical-align: middle;
}

/* messageTable */
.phone-SubContent{
    width: 15%;
}

/* totalTable */
.totalTitle td {
    border-top: 1px solid #ccc;
    text-align: center;
    padding:15px 0;
    font-size:.75em;
}

.totalContent td {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: bold;
}

.paymentTable .savedMoneyInfo td {
    text-align:right;
    font-size:.8em;
    padding:9px 6px;
    border-top: 1px solid #ccc;
}