<!DOCTYPE html>
<!-- thymeleaf와 security 속성을 사용하기 위해 추가해주여야 하는 부분 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title}">Hello, Spring Boot!</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-fixed/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <!-- host html css input -->
  <link th:href="@{/css/common_css.css}" rel="stylesheet"> <!-- 클래스 변수설정 css -->
  <link th:href="@{/css/host_sidebar.css}" rel="stylesheet"> <!-- host_sidebar css -->
  <link th:href="${title} == 'main'? @{/css/host_main.css}" rel="stylesheet"> <!-- host_main page -->

  <!-- Total Page Chat API -->
  <script type="text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages:['corechart']});
  </script>
</head>

<body>

<!-- header menu -->
<header class="bg-black a-tag-css" th:fragment="header">
  <table class="fs-8 td-py10 w-100">
    <col style = "width:20%;">
    <col>
    <col>
    <tr>
      <td class="text-center text-secondary">
        안녕하세요. 관리자님
      </td>
      <td class="text-white">
        관리자메뉴
        <!-- 검색부분 -->
        <label class="bg-white">
          <input type = "search" id = "searchText" name = "searchText"
                 class="border-0 align-middle">
          <button class="btn searchBtn align-middle"></button>
        </label>
      </td>
      <td  class="text-end pe-3">
        <a th:href="@{/userMain}" class="text-white">내 쇼핑몰 가기</a>&emsp;
        <a th:href="@{/logout}" class="text-white">로그아웃</a>
      </td>
    </tr>
  </table>
</header>

<!-- navBar menu -->
<nav class="border-bottom-1-ccc bg-white" th:fragment="navi">
  <div class="d-flex align-items-center text-center py-9 a-tag-css">
    <div class="flex-fill fs-40px"><b>suncloth</b></div>
    <div class="flex-fill"><a th:href = "@{/hostMain}">홈</a></div>
    <div class="flex-fill"><a th:href = "@{/host/productList}">상품</a></div>
    <div class="flex-fill"><a th:href = "@{/host/orderList}">주문</a></div>
    <div class="flex-fill"><a th:href="@{/host/memberList}">회원</a></div>
    <div class="flex-fill"><a th:href="@{/host/boardAllList}">운영</a></div>
    <div class="flex-fill"><a th:href="@{/host/clickTotal}">통계</a></div>
    <div class="flex-fill"></div>
  </div>
</nav>

<!-- Left menu -->
<aside class="bg-white border-right-1-ccc align-top p-0 h-100" th:fragment="sidebar(name)">
  <div id = "left" class="w-100 p-0 m-0 a-tag-css">
    <!-- 상품 Category일 경우의 sidebar 목록 -->
    <table th:if="${name == 'product'}" id = "prdMenu" class="w-100 border-0 m-0 p-0 td-py10 td-px15 td-border-bottom-1-ccc fs-8">
      <tr class="border-bottom-3-ccc">
        <td><b>·상품</b></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/productList}">판매상품관리</a></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/brandList}">브랜드관리</a></td>
      </tr>
    </table>

    <!-- 주문 Category일 경우의 sidebar 목록 -->
    <table th:if="${name == 'order'}" id = "orderMenu" class="w-100 border-0 m-0 p-0 td-py10 td-px15 td-border-bottom-1-ccc fs-8">
      <tr class="border-bottom-3-ccc">
        <td><b>·주문</b></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/orderList}">주문관리</a></td>
      </tr>
    </table>

    <!-- 회원 Category일 경우의 sidebar 목록 -->
    <table th:if="${name == 'member'}" id = "memberMenu" class="w-100 border-0 m-0 p-0 td-py10 td-px15 td-border-bottom-1-ccc fs-8">
      <tr class="border-bottom-3-ccc">
        <td><b>·회원</b></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/memberList}">회원관리</a></td>
      </tr>
    </table>

    <!-- 운영 Category일 경우의 sidebar 목록 -->
    <table th:if="${name == 'board'}" id = "boardMenu" class="w-100 border-0 m-0 p-0 td-py10 td-px15 td-border-bottom-1-ccc fs-8">
      <tr class="border-bottom-3-ccc">
        <td><b>·운영</b></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/boardAllList}">게시판 리스트</a></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/boardList(name='NOTICE')}">공지사항</a></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/boardList(name='FAQ')}">FAQ</a></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/boardList(name='Q&A')}">Q&A</a></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/boardList(name='REVIEW')}">후기</a></td>
      </tr>
    </table>

    <!-- 통계 Category일 경우의 sidebar 목록 -->
    <table th:if="${name == 'total'}" id = "totalMenu" class="w-100 border-0 m-0 p-0 td-py10 td-px15 td-border-bottom-1-ccc fs-8">
      <tr class="border-bottom-3-ccc">
        <td><b>·통계</b></td>
      </tr>
      <tr>
        <td>&emsp;<a th:href="@{/host/clickTotal}">방문자 분석</a></td>
      </tr>
      <tr>
        <td>&emsp;회원 분석</td>
      </tr>
      <tr>
        <td>&emsp;&emsp;<a th:href="@{/host/newMemberTotal}">신규회원 분석</a></td>
      </tr>
      <tr>
        <td>&emsp;&emsp;<a th:href="@{/host/memberPlusPay}">회원 적립금 분석</a></td>
      </tr>

      <tr>
        <td>&emsp;상품 분석</td>
      </tr>
      <tr>
        <td>&emsp;&emsp;<a th:href="@{/host/category}">카테고리 분석</a></td>
      </tr>
      <tr>
        <td>&emsp;&emsp;<a th:href="@{/host/saleRank}">판매순위 분석</a></td>
      </tr>

      <tr>
        <td>&emsp;매출 분석</td>
      </tr>
      <tr>
        <td>&emsp;&emsp;<a th:href="@{/host/orderTotal}">주문통계</a></td>
      </tr>
      <tr>
        <td>&emsp;&emsp;<a th:href="@{/host/saleTotal}">매출통계</a></td>
      </tr>
    </table>
  </div>
</aside>

<!-- **** List Block **** -->
<!-- Product, Brand List Top : 게시판 개수 출력 / 출력할 개수 선택 Block -->
<div class="d-flex" th:fragment="boardTopList">
      <!-- 현재 가져온 게시판이 총 몇개이고 그 중 몇개가 한페이지에 출력이 되어있는지 확인 -->
    <div class="me-auto pt-20 px-15 pb-12">
      <b th:text="| 검색 ${10}건 / 총 ${50}건 |"></b>
    </div>

    <!-- 출력 수 제한 및 정렬을 위해 select시 목록의 변화가 일어나야 하는 부분 -->
    <div class="pt-20 px-15 pb-12">
      <!--<select th:if="${title == 'Q&A'}" id = "stateType" class="fs-8 py-5px align-middle">
        <option value = "all">전체글보기</option>
        <option value = "before">답변 전 글보기</option>
        <option value = "finish">답변 완료 글보기</option>
      </select>-->
      <select id="blockNum" name="blockNum" class="py-1 px-1 fs-8" onchange = "blockchange();">
        <option value="10">10개씩 출력</option>
        <option value="30">30개씩 출력</option>
        <option value="50">50개씩 출력</option>
      </select>
    </div>
</div>
<!-- Product, Brand List Bottom : Paging 및 삭제 Block -->
<div class="position-relative w-98 pt-10 mx-auto" th:fragment="boardBottomList(name)">
    <!-- 삭제 버튼 Block -->
    <div class="position-absolute top-0 left-0"
    th:if="${name != 'order' && name != 'member'}">
      <input type = "button" value = "선택삭제" class="blackButton px-15">
    </div>

    <!-- Paging Process -->
    <div>
      <ul class="pagination justify-content-center my-0">
        <li class="page-item disabled">
          <a class="page-link">&lt;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&gt;</a>
        </li>
      </ul>
    </div>
</div>


<!-- footer : bootstrap using script -->
<footer id = "foot" th:fragment="footer">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</footer>


<!-- 현재 날짜 출력 정보 -->
<th:block>
  <span th:text="${#calendars.createNow()}"></span>
  <!--출력결과 : java.util.GregorianCalendar[time=1684303143507,areFieldsSet=true,
  areAllFieldsSet=true,lenient=true,
  zone=sun.util.calendar.ZoneInfo[id="GMT+09:00",offset=32400000,dstSavings=0,useDaylight=false,transitions=0,lastRule=null],
  firstDayOfWeek=1,minimalDaysInFirstWeek=1,ERA=1,
  YEAR=2023,MONTH=4,WEEK_OF_YEAR=20,WEEK_OF_MONTH=3,
  DAY_OF_MONTH=17,DAY_OF_YEAR=137,DAY_OF_WEEK=4,
  DAY_OF_WEEK_IN_MONTH=3,AM_PM=1,HOUR=2,HOUR_OF_DAY=14,MINUTE=59,
  SECOND=3,MILLISECOND=507,ZONE_OFFSET=32400000,DST_OFFSET=0]-->

  <span th:text="${#calendars.format(#calendars.createNow())}"></span>
  <!-- 출력값 : 2023년 5월 17일 오후 3시 4분 1초 GMT+09:00 -->
  <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span>
  <!-- 출력값 : 2023-05-17-->
  <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></span>
  <!-- 출력값 : 2023-05-17 15:04:01-->
  <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일')}"></span>
  <!-- 출력값 : 2023년 05월 17일-->
</th:block>

<!-- 숫자 관련 : #number -->
<!-- 출력값 : 12,356,448 -->
<h2 th:text="${#numbers.formatInteger(12356448, 3, 'COMMA')}"></h2>

<!-- 문자 관련 : #string -->
<!-- 출력값 : s -> 진한 s -->
<span th:utext="${#strings.replace(title, 's', '<b>s</b>')}"></span>

<!-- listSplit()함수를 이용해서 title변수의 값을 리스트로 처리하고 출력 -->
<span th:each="str:${#strings.listSplit(title, ' ')}">[[${str}]]</span>

</body>
</html>