<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('main')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="d-flex mb-3">
        <div class="p-2"><img src="https://www.customicondesign.com/images/freeicons/countryflag/48/Korea-flag-48.png" alt="한국어" th:width="25px" th:height="20px"/></div>
        <div class="p-2"><img src="https://www.customicondesign.com/images/freeicons/countryflag/48/Jarvis-island-flag-48.png" alt="영어" th:width="25px" th:height="20px"/></div>
        <div class="ms-auto p-2">Flex item</div>
    </div>

    <footer th:replace="fragments/common :: footer"></footer>
</body>
</html>