<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/host_common :: head('clickTotal')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hostBody">
<!-- host page header(host_common.html) -->
<header th:replace="fragments/host_common :: header"></header>

<!-- host page navi -->
<nav th:replace="fragments/host_common :: navi"></nav>

<!-- 본문 내용(Body Block) -->
<div class="d-flex">
    <!-- Sidebar Block -->
    <div style="width:300px;">
        <aside th:replace="fragments/host_common :: sidebar('total')"></aside>
    </div>
    <div class="flex-fill">
        <div class="position-relative text-center w-95 mx-auto my-15 vertical-middle-all">
            <p class="fs-15 p-0 m-0"><b>매출 통계</b></p>
        </div>

        <!--  검색 선택 부분(Search Select Box) -->
        <form action="h_productselect" method="post" name="searchForm">
            <table class="w-95 mx-auto bg-white border-top border-bottom border-dark td-py10 td-px8 fs-8 tdChild1-bg-lightGray tdChild1-fw-bold vertical-middle-all">
                <col style="width:15%;">
                <col>

                <!-- 기간 선택 Block -->
                <tr>
                    <td>기간</td>
                    <td>
                        <select id = "year" name = "year" style = "padding:2px; vertical-align:middle;">
                            <option value = "2025">2025년</option>
                            <option value = "2024">2024년</option>
                            <option value = "2023">2023년</option>
                            <option value = "2022">2022년</option>
                            <option value = "2021">2021년</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>

        <!-- 매출 통계 검색 결과 Block -->
        <div class="bg-white w-95 mx-auto mt-15 mb-20 py-15">
            <!-- 매출 총 통계 Block -->
            <table class="text-center fs-75 w-97 mx-auto border-bottom-1-ccc border-top-1-ccc td-border-all-1-ccc">
                <col style = "width:33%;">
                <col style = "width:33%;">
                <col style = "width:34%;">
                <tr class="bg-EAECEE fw-bold td-py10 td-px15">
                    <td>총 매출건수</td>
                    <td>총 매출금액</td>
                    <td>실 매출액</td>
                </tr>
                <tr class="td-py10 td-px15">
                    <td th:text="|15|">${octotal[12]}</td>
                    <td th:text="|150000|">${orptotal[12] - ortotal[12]}</td>
                    <td th:text="|100000|">${orptotal[12] - ortotal[12]}</td>
                </tr>
            </table>

            <!-- 월별 매출 현황 Title Block -->
            <div class="w-97 mx-auto bg-white px-10 py-15">
                <b>·월별 매출 현황</b>
            </div>

            <!-- 월별 매출 현황 차트 Block -->
            <div class="w-97 mx-auto bg-white" style = "display: -webkit-box;">
                <div class="mx-auto" id = "firstChat"></div>
            </div>

            <!-- 월별 매출 통계 Block -->
            <table class="text-center fs-75 w-97 mx-auto border-bottom-1-ccc border-top-1-ccc td-border-all-1-ccc mt-15">
                <col style = "width:20%;">
                <col style = "width:15%;">
                <col style = "width:15%;">
                <col style = "width:15%;">
                <col style = "width:15%;">
                <col style = "width:20%;">
                <tr class="bg-EAECEE fw-bold td-py10 td-px15">
                    <td rowspan = "2">월별</td>
                    <td colspan = "3">결제금액</td>
                    <td rowspan = "2">환불금액</td>
                    <td rowspan = "2">매출액</td>
                </tr>
                <tr class="bg-EAECEE fw-bold td-py10 td-px15">
                    <td>결제금액</td>
                    <td>할인</td>
                    <td>실결제금액</td>
                </tr>
                <tr class="td-px15 td-py10" th:each="num : ${#numbers.sequence(0, 11)}">
                    <td>[[${num + 1}]]월</td>
                    <td th:text="|${num}|">${optotal[0]}</td>
                    <td>0</td>
                    <td th:text="|${num}|">${orptotal[0]}</td>
                    <td th:text="|${num}|">${ortotal[0]}</td>
                    <td th:text="|${num}|">${optotal[0]}</td>
                </tr>
                <tr class="bg-black text-white td-px15 td-py10">
                    <td>합계</td>
                    <td>${optotal[12]}</td>
                    <td>0</td>
                    <td>${orptotal[12]}</td>
                    <td>${ortotal[12]}</td>
                    <td>${orptotal[12] - ortotal[12]}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Chat API 사용 부분 -->
<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChartFirst);

    var firstChart_options = {
        title: '월별 방문자 분석',
        width : 1050,
        height : 400,
        bar : {
            groupWidth : '50%'
        },
        legend : {
            position : 'bottom'
        }
    }

    function drawChartFirst() {
        var data = google.visualization.arrayToDataTable([
            ['Element', '매출액'],
            ['1월', 5000],
            ['2월', 2000],
            ['3월', 3000],
            ['4월', 1000],
            ['5월', 9000],
            ['6월', 3000],
            ['7월', 1000],
            ['8월', 15000],
            ['9월', 9000],
            ['10월', 2000],
            ['11월', 15000],
            ['12월', 11000], /*parseInt(${orptotal[11] - ortotal[11]})*/
        ]);

        var firstChart = new google.visualization.ColumnChart(document.getElementById('firstChat'));
        firstChart.draw(data, firstChart_options);
    }
</script>

<!-- using Javascript, Bootstrap, JQuery -->
<footer th:replace="fragments/host_common :: footer"></footer>
</body>
</html>