<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/guest_common :: head('orderlist')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- guest page header(guest_common.html) -->
<header th:replace="fragments/guest_common :: header"></header>

<!-- category product list -->
<h4 class="sub-title my-4 text-center fw-bold">ORDER LIST</h4>

<section id="body">
    <ul class="nav nav-tabs nav-fill mb-3">
        <li class="nav-item">
            <a class="nav-link active" href="#">주문내역조회</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">환불계좌변경</a>
        </li>
    </ul>

    <div class="border searchBox">
        <select class="p-2 me-2" style="font-size: 0.65em;">
            <option value = "allorder">전체 주문처리상태</option>
            <option value = "paybefore">입금전</option>
            <option value = "delready">배송준비중</option>
            <option value = "deling">배송중</option>
            <option value = "delfinish">배송완료</option>
            <option value = "cancel">취소</option>
            <option value = "return">반품</option>
        </select> |
        <input type = "radio" id="today" name = "dayType" value = "today">
        <label for = "today">오늘</label>
        <input type = "radio" id="week" name = "dayType" value = "today">
        <label for = "today">1주일</label>
        <input type = "radio" id="month1" name = "dayType" value = "today">
        <label for = "today">1개월</label>
        <input type = "radio" id="month3" name = "dayType" value = "today">
        <label for = "today">3개월</label>
        <input type = "radio" id="month6" name = "dayType" value = "today">
        <label for = "today">6개월</label>
        <input type = "date" id = "firstDay" name = "firstDay">
        <input type = "date" id = "lastDay" name = "lastDay">
        <button type = "button" class="btn btn-light">조회</button>
    </div>

    <div class = "baseText">
        <p>·기본적으로 최근 3개월간의 자료가 조회되며, 기간 검색시 지난 주문내역을 조회하실 수 있습니다.<br>
            ·주문번호를 클릭하시면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.</p>
    </div>

    <div class = "orderPrdTitle">
        <p><b>주문 상품 정보</b></p>
    </div>

    ${srhCnt}/${cnt}
    <form name = "order" method = "post">
        <table id="orderList" class="table">
            <colgroup>
                <col>
                <col>
                <col style = "width:30%;">
                <col>
                <col>
                <col>
                <col style = "width:9%;">
            </colgroup>
            <tr class="orderListTitle">
                <td>[주문번호]<br>주문일자</td>
                <td>이미지</td>
                <td>상품정보</td>
                <td>수량</td>
                <td>상품금액</td>
                <td>주문처리상태</td>
                <td>취소/교환/반품</td>
            </tr>
            <!-- 게시글이 있으면 -->
            <th:block th:if="${orderList.size() > 0}">
            <tr class = "orderPrd" th:each="list:${orderList}" th:id="|tr_${list.getOrderId()}|">
                <td>[ [[${list.getMerchantUid()}]] ]<br>[[${list.getRegDate()}]]</td>
                <td>
                    <img th:src="|/uploadMainImageView/${list.getOrderStock().getStockCloth().getClothId()}|"
                         width = "50px" height = "60px">
                </td>
                <td>
                    <a href = "h_productForm?num=${list.num}&number=${number+1}&pageNum=${pageNum}">
                        <b th:text="${list.getOrderStock().getStockCloth().getClothName()}">아름다운 이미지</b><br>
                        <span class="color-gray"
                              th:text="|[옵션: ${list.getOrderStock().getStockColor().getColorName()}/${list.getOrderStock().getStockSize().getSizeName()}]|">
                    [옵션: Blue/M]</span>
                    </a>
                </td>
                <td th:id="|count_${list.getOrderId()}|" th:text="${list.getCount()}">2</td>
                <td><b th:text="|KSW ${list.getOrderStock().getSalePrice()}|"
                       th:id="|salePrice_${list.getOrderId()}|">KRW 15000</b></td>
                <td th:text="${list.getOrderState()}">${list.state}</td>
                <td>
                    <th:block th:if="${list.getOrderState() != '입금전' && list.getOrderState() != '주문취소' && list.getOrderState() != '환불신청' && list.getOrderState() != '환불완료'}">
                        <button class="refundBtn" onclick = "window.location = 'order?num=${list.num}&statenumber=2'">반품하기</button>
                    </th:block>
                    <th:block th:if="${list.getOrderState() == '입금전'}">
                    <button class="cancelBtn" onclick = "window.location = 'order?num=${list.num}&statenumber=1&count=${list.count}'">취소하기</button>
                    </th:block>
                    <th:block th:if="${list.getOrderState() == '주문취소' || list.getOrderState() == '환불신청' || list.getOrderState() == '환불완료'}">
                        -
                    </th:block>
                </td>
            </tr>
            </th:block>
            <!-- 게시글이 없으면 -->
            <tr class = "orderPrd" th:classappend="${orderList.size() != 0}?'d-none'">
                <td colspan = "7">
                    주문한 상품이 없을 때 나오는 글자입니다~!
                </td>
            </tr>
            <tr>
                <td colspan = "7">
                    <p class="text-end me-2">합계:   KRW ${ncount}</p>
                </td>
            </tr>
        </table>

        <div style = "width:100%; text-align:right; margin:20px 0px;">
            <button class="btn btn-outline-secondary">쇼핑계속하기</button>
        </div>

    </form>

</section>

<!-- refund account info -->
<section class="body">
    <form name = "refundForm" action="" method = "post" onsubmit="return refundCheck();">
        <table class="refundInfoTable">
            <tr>
                <td><label for="accHostInput">예금주</label></td>
                <td>
                    <input type="text" id="accHostInput" name="accHost">
                    예금주명은 주문자명과 동일해야 합니다.
                </td>
            </tr>

            <tr>
                <td><label for="bankInput">은행명</label></td>
                <td><select id="bankInput" name="bank">
                    <option selected>==선택==</option>
                    <option value="기업">기업</option>
                    <option value="국민">국민</option>
                    <option value="농협">농협</option>
                    <option value="우리">우리</option>
                    <option value="신한">신한</option>
                    <option value="삼성증권">삼성증권</option>
                    <option value="새마을금고">새마을금고</option>
                    <option value="카카오뱅크">카카오뱅크</option>
                </select></td>
            </tr>

            <tr>
                <td><label for="accNumberInput">계좌번호</label></td>
                <td><input type = "text" id="accNumberInput" name="accNumber"><br>
                    '-'와 숫자만 입력해주세요.</td>
            </tr>

            <tr>
                <td><label for="pwdInput">
                    비밀번호 확인<span class="text-danger">*</span>
                </label></td>
                <td><input type="password" id="pwdInput" name="password"><br>
                    등록된 비밀번호를 확인합니다.</td>
            </tr>
        </table>

        <div class="text-center mt-3 mb-1">
            <input type = "submit" class="refundUpdateBtn" value = "변경">
        </div>
    </form>
</section>

<!-- footer List & bootstrap using script -->
<footer th:replace="fragments/guest_common :: footer"></footer>
</body>
</html>