<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/guest_common :: head('cart')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- guest page header(guest_common.html) -->
<header th:replace="fragments/guest_common :: header"></header>

<!-- category product list -->
<h4 class="sub-title my-4 text-center fw-bold">장바구니</h4>

<table id="service" class="my-25 mx-auto fs-75 w-90 border-y-1-ccc td-border-bottom-1-ccc">
    <col style="width:15%;">
    <col>
    <tr>
        <th rowspan="2" class="text-center">기본정보</th>
        <td><b th:text="${#authentication.getName()}"></b>님의 장바구니입니다.</td>
    </tr>
    <tr>
        <td th:text="|가용적립금 : ${user.getUsablePlus()}원|"></td>
    </tr>
</table>

<form name="cart" method="post" class="m-0">
    <table class="table mx-auto align-middle w-90 border-y-1-ccc" id="cartList">
        <col>
        <col style="width:9%;">
        <col>
        <col style="width:9%;">
        <col style="width:7%;">
        <col style="width:9%;">
        <col style="width:9%;">
        <col style="width:9%;">
        <col style="width:15%;">
        <tr class="td-border-bottom-1-ccc td-py10 text-center">
            <td>
                <input type = "checkbox" id = "cartCheckAll" th:onchange="allClothCheck()" value = "전체선택">
            </td>
            <td>이미지</td>
            <td>상품정보</td>
            <td>판매가</td>
            <td>수량</td>
            <td>적립금</td>
            <td>배송비</td>
            <td>합계</td>
            <td>선택</td>
        </tr>
        <!-- 장바구니 목록이 있으면 -->
        <th:block th:if="${cartList.size() > 0}">
        <tr class="text-center" th:each="list:${cartList}" th:id="${list.getCartNum()}">
            <td class="border-right-1-ccc">
                <!-- value : 상품가격단가-수량-배송비용 -->
                <input type = "checkbox" name = "cartNums" th:onchange="totalPriceUpdate()"
                       th:value="|${list.getCartStock().getSalePrice()}-${list.getCount()}-${list.getCartStock().getStockCloth().getDeliPrice()}|">
            </td>
            <td class="border-right-1-ccc">
                <img th:src="|/uploadMainImageView/${list.getCartStock().getStockCloth().getClothId()}|"
                     width="50px" height="60px">
            </td>
            <td class="border-right-1-ccc text-start">
                <b th:text="${list.getCartStock().getStockCloth().getClothName()}">아름다운 이미지</b><br>
                <span class="color-gray"
                      th:text="|[옵션: ${list.getCartStock().getStockColor().getColorName()}/${list.getCartStock().getStockSize().getSizeName()}]|">
                    [옵션: Blue/M]</span>
            </td>
            <td class="border-right-1-ccc"><b th:text="|KSW ${list.getCartStock().getSalePrice()}|">KRW 15000</b></td>
            <td class="border-right-1-ccc"><b th:text="${list.getCount()}">3</b></td>
            <td class="border-right-1-ccc" th:text="|${list.getCartStock().getPlus()}원|">500원</td>
            <td class="border-right-1-ccc" th:text="|${list.getCartStock().getStockCloth().getDeliPrice()}원|">2500원</td>
            <td class="border-right-1-ccc">
                <b th:text="|KSW ${list.getCartStock().getSalePrice() * list.getCount() + list.getCartStock().getStockCloth().getDeliPrice()}|">
                    KRW 45000</b>
            </td>
            <td>
                <button type="button" class="btn btn-outline-dark w-100 fs-75">주문하기</button>
                <!-- 삭제기능 구현시 정말 삭제할 것인지 되물어봐주어야 함 -> 사용자를 위한 기능 -->
                <button type="button" class="btn btn-outline-dark w-100 fs-75" th:onclick="cartDel(this.value)" th:value="${list.getCartNum()}">X 삭제</button>
            </td>
        </tr>
        </th:block>
        <!-- 장바구니 목록이 없으면 -->
        <th:block th:if="${cartList.size() == 0}">
        <tr class="text-center">
            <td colspan="9">
                장바구니에 추가된 상품이 아직 없습니다.
            </td>
        </tr>
        </th:block>
        <tr id="subtotal">
            <td colspan="9">
                <p class="float-start ms-2">[기본배송]</p>
                <p class="float-end me-2" id="cartSelectTotalText">상품구매금액 0 + 배송비 0 = 합계: KRW 0</p>
            </td>
        </tr>
        <tr>
            <td colspan="9" class="text-end">
                <!-- 삭제기능 구현시 정말 삭제할 것인지 되물어봐주어야 함 -> 사용자를 위한 기능 -->
                <button  type="button" class="btn btn-light float-start" value="선택상품 삭제하기"
                         id="checkDel">선택상품 삭제하기</button>
                <button type="button" class="btn btn-light float-start" value="선택상품 구매하기"
                        id="checkOrder">선택상품 구매하기</button>
                <!-- 삭제기능 구현시 정말 삭제할 것인지 되물어봐주어야 함 -> 사용자를 위한 기능 -->
                <button type="button" class="btn btn-light float-end" value="장바구니비우기"
                        id="allDel">장바구니 비우기</button>
            </td>
        </tr>
    </table>

    <table class="mx-auto align-middle td-border-bottom-1-ccc border-y-1-ccc text-center" style="width:90%;">
        <col style = "width:20%;">
        <col style = "width:20%;">
        <col style = "width:60%;">
        <tr class="td-py15 fs-75 fw-bold">
            <td>총 상품금액</td>
            <td>총 배송비</td>
            <td>결제예정금액</td>
        </tr>
        <tr class="td-py25 fs-15">
            <td id="totalSalePriceView" class="border-right-1-ccc">KRW 0</td>
            <td id="totalDeliPriceView" class="border-right-1-ccc">+ KRW 0</td>
            <td id="totalPriceView">= KRW 0</td>
        </tr>
    </table>

    <div style = "width:100%; text-align:center; position:relative; margin:20px 0px 100px;">
        <a th:href="@{/main}" class="btn btn-dark">쇼핑계속하기</a>
    </div>

</form>

<!-- footer List & bootstrap using script -->
<footer th:replace="fragments/guest_common :: footer"></footer>
</body>
</html>