<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/guest_common :: head('orderForm')">
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- 결제위젯 SDK 추가 -->
<script src="https://js.tosspayments.com/v1/payment-widget"></script>

<!-- guest page header(guest_common.html) -->
<header th:replace="fragments/guest_common :: header"></header>

<section id="body">
  <div class = "road">
    <p>home > sheet</p>
  </div>

  <div class = "topName">
    <p><b>ORDER FORM</b></p>
  </div>

  <table class = "benefitInfo">
    <tr>
      <th rowspan="2" class="text-center">혜택정보</th>
      <td>
        <b th:text="${user.getUsername()}"></b>님 저희 매장을 이용해주셔서 감사합니다.
      </td>
    </tr>
    <tr>
      <td th:text="|가용적립금 : ${user.getUsablePlus()}원|"></td>
    </tr>
  </table>

  <form name = "orderForm" method="post" th:action="@{/}">
    <p class="my-2">국내배송상품 주문내역</p>
    <!-- Order List Table -->
    <table class="mx-auto align-middle w-100 fs-9 text-center" id="orderList">
      <col style="width:9%;">
      <col>
      <col style="width:9%;">
      <col style="width:7%;">
      <col style="width:9%;">
      <col style="width:9%;">
      <col style="width:15%;">

      <tr class = "ps-5px">
        <td colspan = "7" class="text-start">
          상품의 옵션 및 수량 변경은 상품상세 또는 장바구니에서 가능합니다.
        </td>
      </tr>

      <!-- order Product List Title -->
      <tr class="border-y-1-ccc td-py10">
        <td>이미지</td>
        <td>상품정보</td>
        <td>판매가</td>
        <td>수량</td>
        <td>적립금</td>
        <td>배송비</td>
        <td>합계</td>
      </tr>

      <!-- order Product List Info -->
      <tr class = "td-border-bottom-1-ccc td-py10" th:each="list:${orderMapList}">
        <!-- stockId & Image -->
        <td>
          <input type="hidden" name="stockIds" id="stockId" th:value="${list.get('stock').getStockId()}">
          <img th:src="|/uploadMainImageView/${list.get('stock').getStockCloth().getClothId()}|"
                 width = "80px" height = "100px">
        </td>
        <!-- Product Name/Option -->
        <td class="text-start ps-5px">
          <b th:text="${list.get('stock').getStockCloth().getClothName()}">아름다운 이미지</b><br>
          <span th:text="|[옵션: ${list.get('stock').getStockColor().getColorName()}/${list.get('stock').getStockSize().getSizeName()}]|"
                class="color-gray">[옵션: Blue/M]</span>
        </td>
        <!-- oneProductSalePrice -->
        <td><b th:text="|KSW ${list.get('stock').getSalePrice()}|"
               th:id="|salePrice_${list.get('stock').getStockId()}|">KSW 15000</b></td>
        <!-- orderCount -->
        <td><input type="number" th:id="|count_${list.get('stock').getStockId()}|" th:value="${list.get('count')}"
                   min="1" th:max="${list.get('stock').getStockMaxCount()}"
                   th:oninput="CountChangeUpdate(this.id, 'orderForm')"></td>
        <!-- plus Pay -->
        <td th:id="|plusPay_${list.get('stock').getStockId()}|"
            th:text="|${list.get('stock').getPlus() * list.get('count')}원|">
          ${cvo.plus}원
        </td>
        <!-- deliPrice -->
        <td th:id="|deliPrice_${list.get('stock').getStockId()}|"
            th:text="|${list.get('stock').getStockCloth().getDeliPrice()}원|"></td>
        <!-- TotalPrice -->
        <td><b th:text="|KSW ${list.get('stock').getSalePrice() * list.get('count') + list.get('stock').getStockCloth().getDeliPrice()}|"
               th:id="|totalPrice_${list.get('stock').getStockId()}|"></b></td>
      </tr>

      <!-- Bottom OrderProduct Info -->
      <tr>
        <td colspan = "7" class="py-5px vertical-middle-all">
          <div class="float-end" id="orderSelectTotalText"
               th:text="|상품구매금액 ${totalPrice} + 배송비 ${totalDeliPrice} = 합계: KRW ${finalTotalPrice}|"></div>
        </td>
      </tr>
    </table>

    <!-- Delivery Info Table -->
    <div class="mt-4 mb-1">
      <span><b>배송정보</b></span>
      <span class="float-end"><span class="text-danger">*</span> 필수입력사항</span>
    </div>

    <form name = "deliForm">
    <table class="deliTable" id="deliTable">
      <colgroup>
        <col width = "20%">
        <col width = "80%">
      </colgroup>
      <tr>
        <td>배송지 선택</td>
        <td>
          <input type="reset" id="newReset" class="d-none"/>
          <input type="radio" id="new" name="deliInfo" value="new"
                 th:onchange="newDeliveryAddress()" checked>
          <label for="new">새로운배송지</label>&nbsp;&nbsp;&nbsp;
          <input type="radio" id="deli" name="deliInfo" th:value="${user.getId()}"
                 th:onchange="getMyDeliveryAddress(this.value)">
          <label for="deli">회원정보와 동일</label>
        </td>
      </tr>
      <!-- 받는 사람 -->
      <tr>
        <td><label for="deliName">
          <span class="text-danger">*</span> 받으시는 분
        </label></td>
        <td>
          <input type = "text" id = "deliName" name = "deliName" required>
        </td>
      </tr>
      <!-- 배송지 주소 -->
      <tr>
        <td><label for="addressInput">
          <span class="text-danger">*</span> 주소
        </label></td>
        <td>
          <input type = "text" id = "addressInput" name = "addressInput" required>
          <input type = "button" value = "우편번호" id = "addrBtn" class="whiteButton" th:onclick = "addressSearch()"><br>
          <input type = "text" id = "subAddressInput" name = "subAddressInput" class="w-50" required>기본주소<br>
          <input type = "text" id = "detailAddressInput" name = "detailAddressInput" class="w-50">나머지주소
        </td>
      </tr>
      <!-- 일반 전화 -->
      <tr>
        <td><label for="baseTelInput">일반전화</label></td>
        <td>
          <select name = "baseTel" id = "baseTelInput">
            <option value = "02">02</option>
            <option value = "031">031</option>
            <option value = "032">032</option>
            <option value = "033">033</option>
            <option value = "041">041</option>
            <option value = "042">042</option>
            <option value = "043">043</option>
            <option value = "044">044</option>
          </select>
          - <input type = "text" class="phone-SubContent" id = "secondTelInput" name = "secondTel">
          - <input type = "text" class="phone-SubContent" id = "thirdTelInput" name = "thirdTel">
        </td>
      </tr>
      <!-- 휴대폰번호 -->
      <tr>
        <td><label for="baseHPInput">
          <span class="text-danger">*</span> 휴대폰번호
        </label></td>
        <td>
          <select name = "baseHP" id = "baseHPInput" required>
            <option value = "010">010</option>
            <option value = "011">011</option>
            <option value = "016">016</option>
            <option value = "017">017</option>
            <option value = "018">018</option>
            <option value = "019">019</option>
          </select>
          - <input type = "text" class="phone-SubContent" id = "secondHPInput" name = "secondHP" required>
          - <input type = "text" class="phone-SubContent" id = "thirdHPInput" name = "thirdHP" required>
        </td>
      </tr>
      <!-- 이메일 -->
      <tr>
        <td>
          <label for="idNameInput">
            <span class="text-danger">*</span> 이메일
          </label>
        </td>
        <td>
          <input type = "text" id = "idNameInput" name = "idName" required>
          @<input type = "text" id = "urlCodeInput"  name = "urlCode" required>
          <select name = "urlSelect" onchange = "urlSelected();" id = "urlSelect">
            <option>직접입력</option>
            <option value = "naver.com">naver.com</option>
            <option value = "daum.com">daum.com</option>
            <option value = "nate.com">nate.com</option>
            <option value = "gmail.com">gmail.com</option>
            <option value = "korea.com">korea.com</option>
            <option value = "hanmail.com">hanmail.com</option>
          </select>
          <span>주문처리과정을 이메일로 보내드립니다.</span>
        </td>
      </tr>

    </table>
    </form>

    <!-- 고객메세지(Guest Message) 정보 -->
    <span><b>추가정보</b></span>
    <table class = "messageTable">
      <colgroup>
        <col width = "20%">
        <col width = "80%">
      </colgroup>
      <tr>
        <td>고객메세지</td>
        <td><input type = "text" id = "userMessage" name = "userMessage"></td>
      </tr>
    </table>
    <!-- 총 주문 금액 정보(Total Price Info) -->
    <table class = "totalTable">
      <tr class = "totalTitle">
        <td>총 주문 금액</td>
        <td>총 할인 + 부가결제 금액</td>
        <td>총 결제예정 금액</td>
      </tr>
      <tr class = "totalContent">
        <td id="totalOrderPriceView" th:text="|KRW ${finalTotalPrice}|">KRW ${(cvo.saleprice*count) + cvo.deliprice}</td>
        <td id="totalUseMileageView" th:text="|- KRW 0|"></td>
        <td id="totalPriceView" th:text="|= KRW ${finalTotalPrice}|">KRW ${(cvo.saleprice*count) + cvo.deliprice}</td>
      </tr>
    </table>
    <!-- 적립금 관련 정보(mileage Info) -->
    <table class = "mileageTable">
      <col style = "width:20%;">
      <col>
      <tr>
        <td>적립금</td>
        <td>
          <input type = "text" id = "useMileage" name = "pluspay" th:value="${0}"
                 th:readonly="${user.getUsablePlus() < 100}?true" th:oninput="useMileageInput()" onfocusout="useMileageCheck()">
          원 (총 사용가능 적립금 : <span class="text-danger" id="usableMileage" th:text="${user.getUsablePlus()}">${gvo.plus}</span>원)<br>
          <br>
          - 적립금은 최소 100 이상일 때 결제가 가능합니다.<br>
          - 최대 사용금액은 제한이 없습니다.<br>
          - 적립금으로만 결제할 경우. 결제금액이 0으로 보여지는 것은 정상이며 [결제하기] 버튼을 누르면 주문이 완료됩니다.
        </td>
      </tr>
    </table>

    <span><b>결제수단</b></span>
    <table class="paymentTable border">
      <col>
      <col width="270px">
      <tr>
        <!-- 결제방식 선택 -->
        <td class="paySelect">
          <input type = "radio" name = "howPay" id="account" value = "account" checked>
          <label for="account">무통장 입금</label>
          <input type = "radio" name = "howPay" id="card" value = "card">
          <label for="card">카드 결제</label>
        </td>
        <!-- 결제 최종 정보 -->
        <td rowspan="2">
          <table class="w-100">
            <col style = "width:40%;">
            <col>
            <tr>
              <td colspan = "2" class="text-end fs-75 py-9 px-6">
                <span class="fw-bold">무통장 입금</span> <span>최종결제 금액</span>
              </td>
            </tr>
            <tr>
              <td class="text-center fs-9 py-9">
                KRW
              </td>
              <td class="text-end fs-30px py-9 px-6">
                <label class = "total" id="finishTotalPriceView" th:text="${finalTotalPrice}">15000</label>
              </td>
            </tr>
            <tr>
              <td colspan = "2" class="fs-65 px-6 py-9">
                <input type = "checkbox" name = "agree" value = "ok">
                <label> 결제정보를 확인하였으며, 구매진행에 동의합니다.</label>
              </td>
            </tr>
            <tr>
              <td colspan = "2" class="py-9 px-6">
                <input type = "submit" class="blackButton" name = "pay" value = "결제하기" onclick = "javascript: orderform.action = 'orderPro'">
              </td>
            </tr>
            <tr class="savedMoneyInfo">
              <td><b>총 적립예정금액</b></td>
              <td id="totalMileage" th:text="|${addStockMileage}원|">1500원</td>
            </tr>
            <tr class="savedMoneyInfo">
              <td>상품별 적립금</td>
              <td id="addStockMileage" th:text="|${addStockMileage}원|">1500원</td>
            </tr>
            <tr class="savedMoneyInfo d-none">
              <td>회원 적립금</td>
              <td><label>5000</label>원</td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- 무통장 입금 Info -->
      <tr>
        <td  class="paySelectInfo">
          <table class="fs-75 w-100 paySelectAccountInfo">
            <col style = "width:15%;">
            <col>
            <tr>
              <td>입금자명</td>
              <td><input type = "text" name = "depositname" id = "payname" style = "padding:5px 0px;"></td>
            </tr>
            <tr>
              <td>입금은행</td>
              <td style = "line-height:27px;"><select id = "paybank" name = "bank" style = "padding:5px 0px; font-size:.9em;">
                <option value = "">:::선택해 주세요:::</option>
                <option value = "국민은행">상품 등록 담당 관리자 은행 계좌</option>
              </select>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="border-end-0"><img src = "./ascloimage/exclamation-mark.png" width = "10px" height = "10px">
                최소 결제 가능 금액은 결제금액에서 배송비를 제외한 금액입니다.
              </td>
            </tr>
          </table>

          <table class="fs-75 w-100 paySelectCardInfo">
            <tr>
              <td colspan="2"><img src = "./ascloimage/exclamation-mark.png" width = "10px" height = "10px">
                최소 결제 가능 금액은 결제금액에서 배송비를 제외한 금액입니다.<br>
                <img src = "./ascloimage/exclamation-mark.png" width = "10px" height = "10px">
                소액 결제의 경우 PG사 정책에 따라 결제금액 제한이 있을 수 있습니다.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <fieldset class="border px-2 my-3">
      <p class="fs-9 ps-2 py-3 border-bottom">무이자 할부 이용안내</p>
      <p class="fs-8">&nbsp;&nbsp;&nbsp;<img src = "./ascloimage/one.png" width = "10px" height = "10px"> [쇼핑계속하기] 버튼을 누르시면 쇼핑을 계속하실 수 있습니다.<br>
        &nbsp;&nbsp;&nbsp;<img src = "./ascloimage/two.png" width = "10px" height = "10px"> 장바구니와 관심상품을 이용하여 원하시는 상품만 주문하거나 관심상품으로 등록하실 수 있습니다.<br>
        &nbsp;&nbsp;&nbsp;<img src = "./ascloimage/three.png" width = "10px" height = "10px"> 파일첨부 옵션은 동일상품을 장바구니에 추가할 경우 마지막에 업로드 한 파일로 교체됩니다.</p>
    </fieldset>

    <fieldset class="border px-2 my-3">
      <p class="fs-9 ps-2 py-3 border-bottom">이용안내</p>
      <p class="fs-9 ps-2">장바구니 이용안내</p>
      <p class="fs-8">&nbsp;&nbsp;&nbsp;<img src = "./ascloimage/one.png" width = "10px" height = "10px"> [쇼핑계속하기] 버튼을 누르시면 쇼핑을 계속하실 수 있습니다.<br>
        &nbsp;&nbsp;&nbsp;<img src = "./ascloimage/two.png" width = "10px" height = "10px"> 장바구니와 관심상품을 이용하여 원하시는 상품만 주문하거나 관심상품으로 등록하실 수 있습니다.<br>
        &nbsp;&nbsp;&nbsp;<img src = "./ascloimage/three.png" width = "10px" height = "10px"> 파일첨부 옵션은 동일상품을 장바구니에 추가할 경우 마지막에 업로드 한 파일로 교체됩니다.</p>

      <p class="fs-9 ps-2">무이자할부 이용안내</p>
      <p class="fs-8">&nbsp;&nbsp;&nbsp;<img src = "./ascloimage/one.png" width = "10px" height = "10px"> 상품별 무이자할부 혜택을 받으시려면 무이자할부 상품만 선택하여 [주문하기] 버튼을 눌러 주문/결제 하시면 됩니다.<br>
        &nbsp;&nbsp;&nbsp;<img src = "./ascloimage/two.png" width = "10px" height = "10px"> [전체 상품 주문]버튼을 누르시면 장바구니의 구분없이 선택된 모든 상품에 대한 주문/결제가 이루어집니다.<br>
        &nbsp;&nbsp;&nbsp;<img src = "./ascloimage/three.png" width = "10px" height = "10px"> 단, 전체 상품을 주문/결제하실 경우, 상품별 무이자할부 혜택을 받으실 수 없습니다.</p>
    </fieldset>
  </form>


  <!-- IMPORT의 결제 시스템 API : 현재 등록된 PG정보가 없다고 뜸, 결제 구현 중 아직 해야할 것 많음 내일 꼭 다 끝낸다 -->
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
  <script>
    const IMP = window.IMP;
    IMP.init("imp81234382"); // 예: imp00000000

    function requestPay() {
      IMP.request_pay({
        pg: "kcp.INIpayTest",
        pay_method: "card",
        merchant_uid: "57008833-33005",
        name: "당근 10kg",
        amount: 100,
        buyer_email: "Iamport@chai.finance",
        buyer_name: "포트원 기술지원팀",
        buyer_tel: "010-1234-5678",
        buyer_addr: "서울특별시 강남구 삼성동",
        buyer_postcode: "123-456",
      }, function (rsp) { // callback
        //rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
        if(rsp.success){
          console.log(rsp);
          $.ajax({
            url: "/api/order",
            type : "POST",
            data: {
              "imp_uid": rsp.imp_uid,            // 결제 고유번호
              "merchant_uid": rsp.merchant_uid   // 주문번호
            },
            success: (result) => {
              //AJAX 성공시 실행 코드
              alert("결제 성공");
            }, error:function(e) {
              alert("error: " + e);
            }
          });
        } else {
          alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
        }
      });
    }
  </script>
  <!-- HTML -->
  <button th:onclick="requestPay()">결제하기</button>
  <!-- 결제하기 버튼 생성 -->

  <!-- TOSS의 결제 시스템 API -->
  <!-- 결제위젯, 이용약관 영역 -->
  <!--<div id="payment-method"></div>
  <div id="agreement"></div>-->
  <!-- 결제하기 버튼 -->
  <!--<button id="payment-button">결제하기</button>-->
  <!--<script>
    const clientKey = "test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq"
    const customerKey = "tHe3_yG6m7Xk2yyN680mf" // 내 상점의 고객을 식별하는 고유한 키
    const button = document.getElementById("payment-button")

    // &#45;&#45;&#45;&#45;&#45;&#45;  결제위젯 초기화 &#45;&#45;&#45;&#45;&#45;&#45;
    // 비회원 결제에는 customerKey 대신 ANONYMOUS를 사용하세요.
    const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제
    // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제

    // &#45;&#45;&#45;&#45;&#45;&#45;  결제위젯 렌더링 &#45;&#45;&#45;&#45;&#45;&#45;
    // 결제위젯이 렌더링될 DOM 요소를 지정하는 CSS 선택자 및 결제 금액을 넣어주세요.
    // https://docs.tosspayments.com/reference/widget-sdk#renderpaymentmethods선택자-결제-금액
    paymentWidget.renderPaymentMethods("#payment-method", 15000)

    // &#45;&#45;&#45;&#45;&#45;&#45;  이용약관 렌더링 &#45;&#45;&#45;&#45;&#45;&#45;
    // 이용약관이 렌더링될 DOM 요소를 지정하는 CSS 선택자를 넣어주세요.
    // https://docs.tosspayments.com/reference/widget-sdk#renderagreement선택자
    paymentWidget.renderAgreement('#agreement')

    // &#45;&#45;&#45;&#45;&#45;&#45; '결제하기' 버튼 누르면 결제창 띄우기 &#45;&#45;&#45;&#45;&#45;&#45;
    // 더 많은 결제 정보 파라미터는 결제위젯 SDK에서 확인하세요.
    // https://docs.tosspayments.com/reference/widget-sdk#requestpayment결제-정보
    button.addEventListener("click", function () {
      paymentWidget.requestPayment({
        orderId: "ZUQanehfbWoriGaPSkvS8",            // 주문 ID(직접 만들어주세요)
        orderName: "토스 티셔츠 외 2건",                 // 주문명
        successUrl: "https://my-store.com/success",  // 결제에 성공하면 이동하는 페이지(직접 만들어주세요)
        failUrl: "https://my-store.com/fail",        // 결제에 실패하면 이동하는 페이지(직접 만들어주세요)
        customerEmail: "customer123@gmail.com",
        customerName: "김토스"
      })
    })
  </script>-->

</section>


<!-- footer List & bootstrap using script -->
<footer th:replace="fragments/guest_common :: footer"></footer>
</body>
</html>