<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/guest_common :: head('mypage')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- guest page header(guest_common.html) -->
<header th:replace="fragments/guest_common :: header"></header>

<!-- category product list -->
<h4 class="sub-title my-4 text-center fw-bold">MY PAGE</h4>

<p id="memberInfo">저희 쇼핑몰을 이용해주셔서 감사합니다. <b>kim</b>님은 <b>[FAMILY]</b> 회원이십니다.</p>

<div class="d-flex text-center memberMenu">
    <div class="flex-fill"><a href = "#"><b>ORDER</b><br>주문내역 조회</a></div>
    <div class="flex-fill"><a href = "#"><b>PROFILE</b><br>회원 정보</a></div>
    <div class="flex-fill"><a href = "#"><b>CART LIST</b><br>장바구니</a></div>
    <div class="flex-fill"><a href = "#"><b>MILEAGE</b><br>적립금 관리</a></div>
    <div class="flex-fill"><a href = "#"><b>BOARD</b><br>내 게시물 관리</a></div>
</div>


<!-- footer List & bootstrap using script -->
<footer th:replace="fragments/guest_common :: footer"></footer>
</body>
</html>