<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/host_common :: head('main')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hostBody">

<!-- host page header(host_common.html) -->
<header th:replace="fragments/host_common :: header"></header>

<!-- host page navi -->
<nav th:replace="fragments/host_common :: navi"></nav>

<!-- 본문 내용(Body Block) -->
<div class="d-flex">
    <!-- Sidebar Block -->
    <div style="width:300px;">
        <aside th:replace="fragments/host_common :: sidebar('product')"></aside>
    </div>
    <div class="flex-fill">
        <div class="position-relative text-center w-95 mx-auto my-15 vertical-middle-all">
            <p class="fs-15 p-0 m-0"><b>판매상품관리</b></p>
            <p class="position-absolute m-0 top-0 end-0">
                <button type="button" class="blueBaseBtn px-10 py-10">
                    <a class="text-white text-decoration-none" th:href="@{/host/productInput}">상품등록</a>
                </button>
            </p>
        </div>

        <!--  검색 선택 부분(Search Select Box) -->
        <form action="h_productselect" method="post" name="searchForm">
            <table class="w-95 mx-auto bg-white border-top border-bottom border-dark td-border-bottom-1-ccc td-py10 td-px8 fs-8 tdChild1-bg-lightGray tdChild1-fw-bold vertical-middle-all">
                <col style="width:15%;">
                <col>

                <!-- 카테고리 선택 Block -->
                <tr>
                    <td>카테고리</td>
                    <td>
                        <select th:onchange = "subCategoriesGet(this.value)" class="mainCategoriesSelector" id="mainCategorySelector">
                            <option value = "">메인 카테고리 전체</option>
                            <th:block th:if="${mainCategoryList.size() > 0}">
                                <option th:each="list:${mainCategoryList}" th:value="${list.getMainCode()}">[[${list.getMainName()}]]</option>
                            </th:block>
                        </select>
                        <select class="subCategoriesSelector" id="subCategorySelector" name="subCategoryId">
                            <option value = "">서브 카테고리 전체</option>
                        </select>
                    </td>
                </tr>

                <!-- 브랜드 선택 Block -->
                <tr>
                    <td>브랜드</td>
                    <td>
                        <select name = "brandId" id="brandId" class="w-15">
                            <option value = "">전체</option>
                            <th:block th:if="${brandList.size() > 0}">
                                <option th:each="list:${brandList}" th:value="${list.getBrandId()}">[[${list.getBrandName()}]]</option>
                            </th:block>
                        </select>
                    </td>
                </tr>

                <!-- 기간 선택 Block -->
                <tr>
                    <td>기간</td>
                    <td>
                        <!-- 어느 날짜를 기준으로 검색할 것인지 체크 -->
                        <input type="date" id="firstDay" name="firstDay"> -
                        <input type="date" id="lastDay" name="lastDay">

                        <!-- 버튼 클릭시 위에 date input 값이 변하게 됨 -->
                        <input type="hidden" name="dayNum" value="0">
                        <span class="p-0 ms-2">
                            <button type="button" class="border border-black py-1 px-2 bg-white"
                                    th:onclick="dateToday()">오늘</button>
                            <button type="button" class="border border-black py-1 px-2 bg-white"
                                    th:onclick="dateWeek()">1주일</button>
                            <button type="button" class="border border-black py-1 px-2 bg-white"
                                    th:onclick="dateMonth1()">1개월</button>
                            <button type="button" class="border border-black py-1 px-2 bg-white"
                                    th:onclick="dateMonth3()">3개월</button>
                            <button type="button" class="border border-black py-1 px-2 bg-white"
                                    th:onclick="dateMonth6()">6개월</button>
                        </span>
                    </td>
                </tr>

                <!-- 상품 아이콘 선택 Block -->
                <tr>
                    <td>아이콘</td>
                    <td>
                        <input type = "checkbox" name = "icon" id = "hot" value = "hot">
                        <label for = "hot">hot</label>&emsp;
                        <input type = "checkbox" name = "icon" id = "minPrice" value = "minPrice">
                        <label for = "minPrice">최저가</label>&emsp;
                        <input type = "checkbox" name = "icon" id = "best" value = "best">
                        <label for = "best">best</label>
                    </td>
                </tr>

                <!-- 검색할 Text 입력 Block -->
                <tr>
                    <td>검색어</td>
                    <td>
                        <select id="type" name="srhType" class="px-2 py-1">
                            <option value="0">상품명</option>
                            <option value="1">상품번호</option>
                        </select>
                        <input type="hidden" name="searchType" value="0">
                        <input type="search" id="srch" name="srch">
                    </td>
                </tr>
            </table>

            <!-- 버튼 리스트(Button List Block) -->
            <div class="w-100 text-center mt-10 mb-20">
                <input type = "submit" value = "검색" class="blackBaseButton w-15 py-10 border-0 ">
            </div>
        </form>

        <!-- 상품 검색 결과 목록(SearchResult Product List) -->
        <section class="w-95 mx-auto bg-white mb-50 pb-15" >
            <form action = "h_productdeletePro" method = "post" name = "completeForm">
                <input type = "hidden" name = "pageNum" value = "${pageNum}">

                <!-- ProductList Top Menu -->
                <div th:replace="fragments/host_common :: boardTopList"></div>

                <!-- 게시판 목록 Block -->
                <table class="table text-center fs-75 w-98 mx-auto bg-white border-bottom-1-ccc border-top-1-ccc td-border-bottom-1-ccc vertical-middle-all a-tag-css">
                    <thead>
                    <tr class="fw-bold border-0 td-py25 td-px15">
                        <td>
                            <input type = "checkbox" name = "prdCheck" id = "prdCheckAll"  value = "전체선택">
                        </td>
                        <td>이미지</td>
                        <td>번호</td>
                        <td>카테고리</td>
                        <td>상품명</td>
                        <td>등록일</td>
                        <td>판매상태</td>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${clothList.size() > 0}">
                        <tr class = "text-center td-py10 td-px15" th:each="list:${clothList}">
                            <td><input type = "checkbox" name = "prdChecks" th:value = "${list.getClothId()}"></td>
                            <td> <!-- th:if="${list.mainfile != null}" -->
                                <img th:src="|/uploadImages/${list.getFiles().get(0).getSavedNm()}|" alt="이미지 없음"
                                     width = "50px" height = "60px">
                            </td>
                            <td th:text="${list.getClothId()}"></td>
                            <td th:text="${list.getSubCategory().getSubName()}"></td>
                            <!-- 상세 페이지 -->
                            <td class="text-start">
                                <a th:href="@{/host/productInput(clothId=${list.getClothId()})}"
                                   th:text="${list.getClothName()}"> <!--href = "h_productForm?num=${list.num}&number=${number+1}&pageNum=${pageNum}"-->
                                </a></td>
                            <td th:text="|${list.getRegDate()}|">[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}]]</td>
                            <td><a th:href="@{/host/stockList(clothId=${list.getClothId()})}"><input type = "button" value = "재고 관리" name = "csInput" class="whiteButton"/></a></td>
                        </tr>
                    </th:block>
                    <tr class = "text-center td-py10 td-px15" th:if="${clothList.size() == 0}">
                      <td colspan = "7">
                        등록된 상품이 없습니다. 상품을 등록해주세요.
                      </td>
                    </tr>
                    </tbody>
                </table>

                <!-- ProductList Bottom Menu -->
                <div th:replace="fragments/host_common :: boardBottomList(name='product')"></div>
            </form>
        </section>
    </div>
</div>

<!-- using Javascript, Bootstrap, JQuery -->
<footer th:replace="fragments/host_common :: footer"></footer>
</body>
</html>