<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/host_common :: head('main')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hostBody h-100">
<!-- host page header(host_common.html) -->
<header th:replace="fragments/host_common :: header"></header>

<!-- host page navi -->
<nav th:replace="fragments/host_common :: navi"></nav>

<!-- 본문 내용(Body Block) -->
<div class="d-flex h-100">
    <!-- Sidebar Block -->
    <div style="width:300px;">
        <aside th:replace="fragments/host_common :: sidebar('product')"></aside>
    </div>
    <div class="flex-fill">
        <div class="position-relative text-center w-95 mx-auto my-15 vertical-middle-all">
            <p class="fs-15 p-0 m-0"><b>브랜드관리</b></p>
            <p class="position-absolute m-0 top-0 end-0">
                <button type="button" class="blueBaseBtn px-10 py-10">
                    <a class="text-white text-decoration-none" th:href="@{/host/brandInput(name='input')}">브랜드등록</a>
                </button>
            </p>
        </div>

        <!-- 브랜드 검색 결과 목록(SearchResult Product List) -->
        <section class="w-95 mx-auto bg-white mb-50 pb-15">
            <form action = "h_brandDeletePro" method = "post" name = "completeForm">
                <input type = "hidden" name = "pageNum" value = "${pageNum}"/>

                <!-- BrandList Top Menu -->
                <div th:replace="fragments/host_common :: boardTopList"></div>

                <!-- 브랜드 목록 Block -->
                <table class="table text-center fs-75 w-98 mx-auto bg-white border-bottom-1-ccc border-top-1-ccc td-border-bottom-1-ccc vertical-middle-all a-tag-css">
                    <thead>
                    <tr class="fw-bold border-0 td-py25 td-px15">
                        <td>
                            <input type = "checkbox" name = "prdCheck" id = "prdCheckAll"  value = "전체선택">
                        </td>
                        <td>번호</td>
                        <td>브랜드명</td>
                        <td>전화번호</td>
                        <td>등록일</td>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${brandList.size() > 0}">
                        <tr class = "text-center td-py10 td-px15" th:each="list:${brandList}" th:id="${list.getBrandId()}">
                            <td><input type = "checkbox" name="brandIds" th:value = "${list.getBrandId()}"></td>
                            <td>[[${list.getBrandId()}]]</td>
                            <td>
                                <a th:href="@{/host/brandInput(name='update', brandId=${list.getBrandId()})}"> <!--href = "h_productForm?num=${list.num}&number=${number+1}&pageNum=${pageNum}"-->
                                    [[${list.getBrandName()}]]
                                </a></td>
                            <td>[[${list.getHp()}]]</td>
                            <td>[[${list.getRegDate()}]]</td>
                        </tr>
                    </th:block>
                    <tr class = "text-center td-py10 td-px15" th:if="${brandList.size() == 0}">
                      <td colspan = "5">
                        브랜드가 없습니다. 브랜드를 등록해주세요.
                      </td>
                    </tr>
                    </tbody>
                </table>

                <!-- BrandList Bottom Menu -->
                <div class="position-relative w-98 pt-10 mx-auto">
                    <!-- 삭제 버튼 Block -->
                    <div class="position-absolute top-0 left-0">
                        <input type = "button" value = "선택삭제" class="blackButton px-15" th:onclick="brandDel()">
                    </div>

                    <!-- Paging Process -->
                    <div>
                        <ul class="pagination justify-content-center my-0">
                            <li class="page-item disabled">
                                <a class="page-link">&lt;</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">&gt;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<script>
// 브랜드 삭제하기
function brandDel() {
    const brandIds = document.getElementsByName("brandIds"); // 화면에 있는 모든 Checkbox(brandIds)
    let brandDelList = []; // 삭제된 brandIds

    // checkBox에 체크되었는지 확인 후 삭제
    for (let i = 0; i < brandIds.length; i++) {
        if(brandIds[i].checked === true){
            brandDelAjax(brandIds[i].value);
            brandDelList.push(brandIds[i].value);
        }
    }

    // 삭제되었음을 alert 띄워줌
    alert(brandDelList + "번 브랜드가 삭제되었습니다.");

    // 화면에서 해당 요소 삭제해줌
    for (let i = 0; i < brandDelList.length; i++) {
        document.getElementById(brandDelList[i]).remove();
    }

    // brand 1개 삭제하는 Ajax 함수
    function brandDelAjax(brandId){
        $.ajax({
            type: 'DELETE',
            url: '/api/brands/' + brandId,
            success: (result) => {
                //AJAX 성공시 실행 코드
            }, error:function(e) {
                alert("error: " + e);
            }
        });
    }
}
</script>

<!-- using Javascript, Bootstrap, JQuery -->
<footer th:replace="fragments/host_common :: footer"></footer>
</body>
</html>