<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/host_common :: head('prdInput')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hostBody">
<!-- host page header(host_common.html) -->
<header th:replace="fragments/host_common :: header"></header>

<!-- host page navi -->
<nav th:replace="fragments/host_common :: navi"></nav>

<!-- 본문 내용(Body Block) -->
<div class="d-flex">
    <!-- Sidebar Block -->
    <div style="width:300px;">
        <aside th:replace="fragments/host_common :: sidebar('product')"></aside>
    </div>
    <div class="flex-fill">
        <form method="post" id="clothInputForm" enctype="multipart/form-data"
              th:onsubmit = "${cloth.getSubCategory() == null}?'return clothAdd()':'return clothUpdate()'">
        <div class="position-relative text-center w-95 mx-auto my-15 vertical-middle-all">
            <p class="fs-15 p-0 m-0"><b>판매상품관리</b></p>
            <p class="position-absolute m-0 top-0 end-0">
                <!-- 상품 등록 버튼 -->
                <input type="submit" value="등록" class="blueBaseBtn px-10 py-10"
                       th:if="${cloth.getSubCategory() == null}">
                <!-- 상품 등록 버튼 -->
                <input type="submit" value="수정" class="blueBaseBtn px-10 py-10"
                       th:if="${cloth.getSubCategory() != null}">
            </p>
        </div>

        <div class="bg-white w-95 mx-auto mb-20 pb-15">
            <!-- 상품 기본 정보 Title Block -->
            <div class="w-97 mx-auto bg-white px-10 py-15">
                <b>·상품기본정보</b>
            </div>

            <!-- 상품 기본 정보 Input Block -->
            <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-py15 td-px10 fs-8 td-border-bottom-1-ccc tdChild1-fw-bold tdChild1-bg-lightGray vertical-middle-all">
                <col style = "width:20%">
                <col>
                <!-- mainImage 추가 -->
                <tr>
                    <td class="border-right-1-ccc">메인 이미지 업로드</td>
                    <td>
                        <input type="hidden" name="clothId" id="clothId" th:value="${cloth.getClothId()}">
                        <input type="hidden" name="regDate" id="regDate" th:value="${cloth.getRegDate()}">
                        <input type="hidden" name="mainFileId" id="mainFileId" th:if="${mainFile != null}" th:value="${mainFile.get(0).getFileId()}">
                        <div class="d-flex">
                            <div>
                                <img th:src="${mainFile != null}? '/host/uploadImageView/'+${mainFile.get(0).getFileId()}" alt="이미지" id="mainImage" class="wh-100px"
                                     th:classappend="${mainFile == null}?'d-none'"/>
                            </div>
                            <div class="d-flex flex-column align-self-center ms-1">
                                <div th:class="${mainFile == null}?'d-none'">
                                    <input type = "checkbox" id = "baseMainFileYN" th:onchange="baseMainFileUpdateYN()" checked>
                                    <label for="baseMainFileYN">이전 그림 그대로</label>
                                </div>
                                <div><input type = "file" id = "mainFile" th:class="${mainFile != null}?'d-none'"
                                            th:onchange="imageFileSelect(this.files[0])" th:required="${mainFile == null}?true"></div>

                            </div>
                        </div>

                    </td>
                </tr>
                <!-- mainCategory 추가/삭제 -->
                <tr>
                    <td><label for="mainCategoryInput">1차 카테고리 추가</label></td>
                    <td>
                        <input type = "text" id = "mainCategoryInput">
                        <input type = "button" class = "whiteButton " value = "추가" th:onclick="mainCategoryAdd()">
                        <select class = "mainCategoriesSelector" id="mainCategoryDelSelector">
                            <option value = "">1차 카테고리</option>
                            <!-- 가져올 카테고리가 있으면 -->
                            <th:block th:if="${mainCategoryList.size() > 0}">
                                <option th:each="list:${mainCategoryList}" th:value="${list.getMainCode()}">[[${list.getMainName()}]]</option>
                            </th:block>
                        </select>
                        <input type = "button" class = "whiteButton" value = "삭제" th:onclick = "mainCategoryDel()">
                    </td>
                </tr>
                <!-- subCategory 추가/삭제 -->
                <tr>
                    <td>2차 카테고리 추가</td>
                    <td>
                        <select class="mainCategoriesSelector" id="subCategoryMainCode" th:onchange = "subCategoriesGet(this.value)">
                            <option value = "">1차 카테고리</option>
                            <th:block th:if="${mainCategoryList.size() > 0}">
                                <option th:each="list:${mainCategoryList}" th:value="${list.getMainCode()}">[[${list.getMainName()}]]</option>
                            </th:block>
                        </select>
                        <input type = "text" id="subCategoryInput">
                        <input type = "button" class = "whiteButton" value = "추가" th:onclick = "subCategoryAdd()">
                        <select class="subCategoriesSelector" id="subCategoryDelSelector">
                            <option value = "">2차 카테고리</option>
                        </select>
                        <input type = "button" class = "whiteButton" value = "삭제" th:onclick = "subCategoryDel()">
                    </td>
                </tr>

                <!-- 등록할 상품의 main/subCategory 선택 -->
                <tr>
                    <td>상품 카테고리*</td>
                    <td>
                        <select th:onchange = "subCategoriesGet(this.value)" class="mainCategoriesSelector" id="mainCategorySelector" required>
                            <option value = "">1차 카테고리</option>
                            <th:block th:if="${mainCategoryList.size() > 0}">
                                <option th:each="list:${mainCategoryList}" th:value="${list.getMainCode()}"
                                        th:selected="${cloth.getSubCategory() != null && cloth.getSubCategory().getMainCategory().getMainCode() == list.getMainCode()}?true">
                                    [[${list.getMainName()}]]
                                </option>
                            </th:block>
                        </select>
                        <select class="subCategoriesSelector" id="subCategorySelector" name="subCategoryId" required>
                            <option value = "">2차 카테고리</option>
                            <th:block th:if="${subCategoryList.size() > 0}">
                                <option th:each="list:${subCategoryList}" th:value="${list.getSubCode()}"
                                        th:selected="${cloth.getSubCategory() != null && cloth.getSubCategory().getSubCode() == list.getSubCode()}?true">
                                    [[${list.getSubName()}]]
                                </option>
                            </th:block>
                        </select>
                    </td>
                </tr>

                <!-- 등록할 상품의 name 작성 -->
                <tr>
                    <td><label for="clothName">상품명 *</label></td>
                    <td>
                        <input type = "text" id="clothName" name = "clothName" th:value="${cloth.getClothName()}" required>
                    </td>
                </tr>

                <!-- 등록할 상품의 tax/notTax 선택 -->
                <tr>
                    <td><label for="brandId">브랜드</label></td>
                    <td>
                        <select name = "brandId" id="brandId" required>
                            <option value = "">브랜드 선택</option>
                            <th:block th:if="${brandList.size() > 0}">
                                <option th:each="list:${brandList}" th:value="${list.getBrandId()}"
                                        th:selected="${cloth.getBrand() != null && cloth.getBrand().getBrandId() == list.getBrandId()}?true">
                                    [[${list.getBrandName()}]]
                                </option>
                            </th:block>
                        </select>
                    </td>
                </tr>

                <!-- 등록할 상품의 icon 선택 -->
                <tr>
                    <td>아이콘</td>
                    <td>
                        <input type = "radio" name = "icon" id = "hot" value = "hot" th:checked="${cloth.getIcon() == 'hot'}?true">
                        <label for = "hot">hot</label>&emsp;
                        <input type = "radio" name = "icon" id = "minPrice" value = "minPrice" th:checked="${cloth.getIcon() == 'minPrice'}?true">
                        <label for = "minPrice">최저가</label>&emsp;
                        <input type = "radio" name = "icon" id = "best" value = "best" th:checked="${cloth.getIcon() == 'best'}?true">
                        <label for = "best">best</label>
                    </td>
                </tr>
            </table>

            <!-- 상품 상세 설명 Title Block -->
            <div class="w-97 mx-auto bg-white px-10 py-15">
                <b>·상품 상세 설명</b>
            </div>

            <!-- 상품 상세 설명 Title Block -->
            <table class="w-97 mx-auto bg-white border-bottom-1-ccc border-top-1-ccc td-py15 td-px10 td-border-bottom-1-ccc fs-8 tdChild1-bg-lightGray tdChild1-fw-bold tdChild1-border-right-1-ccc vertical-middle-all">
                <col style = "width: 15%;">
                <col>
                <!-- 상품 설명 Box -->
                <tr>
                    <td colspan = "2">
                        <textarea rows="20" cols="95" name="content" class="w-100 resize-vertical border-0" th:text="${cloth.getContent()}"></textarea>
                    </td>
                </tr>

                <!-- 상품 이미지 SubFile 추가 -->
                <tr>
                    <td>첨부파일(다중 선택 가능)</td>
                    <td>
                        <div class="d-flex flex-column align-self-center">
                            <!-- 서브 이미지 정보 출력 div -->
                            <div id="subImagesDiv" th:if="${subFile.size() > 0}">
                                <th:block th:each="list:${subFile}">
                                    <input type="hidden" name="subFileIds" th:value="${list.getFileId()}">
                                    <img th:src="|/host/uploadImageView/${list.getFileId()}|" alt="서브이미지" class="wh-100px" src=""/>
                                    <p th:text="|[${list.getSavedNm()}]|"></p>
                                </th:block>
                            </div>
                            <!-- 이전 이미지 그대로 checkBox -->
                            <div th:class="${subFile.size() == 0}?'d-none'">
                                <input type = "checkbox" id = "baseSubFileYN" th:onchange="baseSubFileUpdateYN()" checked>
                                <label for="baseSubFileYN">이전 이미지 그대로</label>
                            </div>
                            <div><input type = "file" multiple="multiple" id="subFile" name = "subFile" th:class="${subFile.size() > 0}?'d-none'"></div>
                        </div>
                    </td>
                </tr>

                <!-- With Item 선택하기 -->
                <tr>
                    <td class="text-center py-10">
                        <input type = "hidden" name = "withItemIds" value = "">
                        <div id = "image" class="bg-secondary-subtle wh-100px mx-auto">
                            No image
                        </div>
                    </td>
                    <td>
                        <input type = "button" id = "detailPrd" name = "detailPrd" value = "상품정보선택"
                               class="fs-9 p-5px whiteBaseButton" onclick = "withproductChk();" >
                    </td>
                </tr>
            </table>
        </div>
        </form>
    </div>
</div>

<!-- using Javascript, Bootstrap, JQuery -->
<footer th:replace="fragments/host_common :: footer"></footer>
</body>
</html>