<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/host_common :: head('brandInput')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hostBody h-100">
<!-- host page header(host_common.html) -->
<header th:replace="fragments/host_common :: header"></header>

<!-- host page navi -->
<nav th:replace="fragments/host_common :: navi"></nav>

<!-- 본문 내용(Body Block) -->
<div class="d-flex h-100">
    <!-- Sidebar Block -->
    <div style="width:300px;">
        <aside th:replace="fragments/host_common :: sidebar('product')"></aside>
    </div>
    <div class="flex-fill">
        <form method="post" name="productForm" enctype="multipart/form-data">
        <div class="position-relative text-center w-95 mx-auto my-15 vertical-middle-all">
            <p class="fs-15 p-0 m-0"><b>브랜드관리</b></p>
            <p class="position-absolute m-0 top-0 end-0">
                <input th:if="${name == 'input'}" type="button" value="등록" class="blueBaseBtn px-10 py-10"
                       th:onclick = "brandAdd()">
                <input th:if="${name == 'update'}" type="button" value="수정" class="blueBaseBtn px-10 py-10"
                       th:onclick = "brandUpdate()">
            </p>
        </div>

        <div class="bg-white w-95 mx-auto mb-20 pb-15">
            <!-- 브랜드 정보 Title Block -->
            <div class="w-97 mx-auto bg-white px-10 py-15">
                <b>·브랜드정보</b>
            </div>

            <!-- 브랜드 정보 Input Block -->
            <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-py15 td-px10 fs-8 td-border-bottom-1-ccc tdChild1-fw-bold tdChild1-bg-lightGray vertical-middle-all">
                <col style = "width:20%">
                <col>
                <!-- 등록할 브랜드 : 번호 -->
                <tr th:if="${name == 'update'}">
                    <td>브랜드번호 *</td>
                    <td id = "brandId">[[${brand.getBrandId()}]]</td>
                </tr>
                <!-- 등록할 브랜드 : 이름 -->
                <tr>
                    <td><label for="brandNameInput">브랜드명 *</label></td>
                    <td>
                        <input type = "text" id="brandNameInput" th:value="${brand.getBrandName()}">
                    </td>
                </tr>
                <!-- 등록할 브랜드 : 전화번호 -->
                <tr>
                    <td>브랜드 전화번호</td>
                    <td>
                        <div id="brandHPForm">
                            <input type="text" id="brandHPInput" th:value="${brand.getHp()}">&nbsp;&nbsp;&nbsp;
                            <span id="brandHPDiv">ex) 010-1234-5678</span>
                        </div>
                    </td>
                </tr>
                <!-- 등록할 브랜드 : 등록날짜 -->
                <tr th:if="${name == 'update'}">
                    <td>브랜드 전화번호</td>
                    <td>[[${brand.getRegDate()}]]</td>
                </tr>
            </table>
        </div>
        </form>
    </div>
</div>

<script>
    // *** 휴대폰 번호 정규식 ***
    let regPhone = /^01([0|1|2|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;

    // 브랜드 추가하기
    function brandAdd() {
        const brandNameInput = document.getElementById("brandNameInput").value;
        const brandHPInput = document.getElementById("brandHPInput").value;
        const brandParam = { brandName : brandNameInput, hp : brandHPInput };

        if(brandNameInput === ""){
            alert("브랜드 명을 입력해주세요.");
            return false;
        }

        $.ajax({
            type: 'post',
            contentType:'application/json',
            data: JSON.stringify(brandParam),
            url: '/api/brand',
            success: (result) => {
                //AJAX 성공시 실행 코드
                alert(result.brandName + "브랜드가 추가되었습니다.");
                window.location.href="/host/brandList";
            }, error:function(e) {
                alert("error: " + e);
            }
        });
    }

    // 브랜드 수정하기
    function brandUpdate(){
        const brandId = document.getElementById("brandId").textContent;
        const brandName = document.getElementById("brandNameInput").value;
        const brandHP = document.getElementById("brandHPInput").value;
        const brandParam = { brandName : brandName, hp : brandHP };

        if(brandName === ""){
            alert("브랜드 명을 입력해주세요.");
            return false;
        }

        $.ajax({
            type: 'PUT',
            contentType:'application/json',
            data: JSON.stringify(brandParam),
            url: '/api/brands/' + brandId,
            success: (result) => {
                //AJAX 성공시 실행 코드
                alert(result.brandName + " 브랜드가 수정되었습니다.");
                window.location.href="/host/brandList";
            }, error:function(e) {
                alert("error: " + e);
            }
        });
    }

    // 브랜드 HP 입력 확인(쓰지 않고 표시만 해주는 방향으로 생각 바뀜 혹시 몰라 남겨둠)
    function brandHPInput(hp) {
        const brandHPDiv = document.getElementById("brandHPDiv");

        if(!regPhone.test(hp)){
            brandHPDiv.style.color = "red";
            brandHPDiv.textContent = "ex) 010-1234-5678";
        }
    }

</script>

<!-- using Javascript, Bootstrap, JQuery -->
<footer th:replace="fragments/host_common :: footer"></footer>
</body>
</html>