<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/host_common :: head('prdInput')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="hostBody">
<!-- host page header(host_common.html) -->
<header th:replace="fragments/host_common :: header"></header>

<!-- host page navi -->
<nav th:replace="fragments/host_common :: navi"></nav>

<!-- 본문 내용(Body Block) -->
<div class="d-flex">
    <!-- Sidebar Block -->
    <div style="width:300px;">
        <aside th:replace="fragments/host_common :: sidebar('product')"></aside>
    </div>
    <div class="flex-fill">
        <form method="post" name="productForm" enctype="multipart/form-data">
        <div class="position-relative text-center w-95 mx-auto my-15 vertical-middle-all">
            <p class="fs-15 p-0 m-0"><b>판매상품관리</b></p>
            <p class="position-absolute m-0 top-0 end-0">
                <input type="submit" value="등록" class="blueBaseBtn px-10 py-10"
                       onclick = "javascript: productForm.action = 'h_productPro'">
            </p>
        </div>

        <div class="bg-white w-95 mx-auto mb-20 pb-15">
            <!-- 상품 기본 정보 Title Block -->
            <div class="w-97 mx-auto bg-white px-10 py-15">
                <b>·상품기본정보</b>
            </div>

            <!-- 상품 기본 정보 Input Block -->
            <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-py15 td-px10 fs-8 td-border-bottom-1-ccc tdChild1-fw-bold tdChild1-bg-lightGray vertical-middle-all">
                <col style = "width:20%">
                <col>
                <!-- mainImage 추가 -->
                <tr>
                    <td class="border-right-1-ccc">메인 이미지1</td>
                    <td>
                        <input type = "file" name = "mainFile">
                    </td>
                </tr>
                <!-- mainCategory 추가/삭제 -->
                <tr>
                    <td>1차 카테고리 추가</td>
                    <td>
                        <input type = "text" name = "bigPart">
                        <input type = "button" class = "whiteButton " name = "bigPro" value = "추가"
                               onclick = "bigpartPro();">
                        <select name = "bigPartDel">
                            <option value = "">1차 카테고리</option>
                            <option value = "asclo">asclo</option>
                            <!-- 가져올 카테고리가 있으면 -->
                            <!--<th:block th:if="${bigsrhCnt > 0}">
                                <option th:each="list:${bigList}" value = "${list.bigcode}">${list.bigname}</option>
                            </th:block>-->
                        </select>
                        <input type = "button" class = "whiteButton" name = "bigDel" value = "삭제"
                               onclick = "bigpartdelPro();">
                    </td>
                </tr>
                <!-- subCategory 추가/삭제 -->
                <tr>
                    <td>2차 카테고리 추가</td>
                    <td>
                        <select name = "subBigPart" onchange = "select_inputcategory2();">
                            <option value = "">1차 카테고리</option>
                            <!-- 가져올 카테고리가 있으면 -->
                            <!--<th:block th:if="${bigsrhCnt > 0}">
                                <option th:each="list:${bigList}" value = "${list.bigcode}">${list.bigname}</option>
                            </th:block>-->
                        </select>
                        <input type = "text" name = "mediumPart">
                        <input type = "button" class = "whiteButton" name = "mediumPro" value = "추가"
                               onclick = "mediumpartPro();">
                        <select name = "mediumPartDel"> <!-- 일단 아우터것만 이거는 jQuery로 조건써서 갖다넣을려고함 -->
                            <option value = "">2차 카테고리</option>
                            <!-- 가져올 sub 카테고리가 있으면 -->
                            <!--<th:block th:if="${mediumsrhCnt > 0}">
                                <option th:each="list:${mediumList}" value = "${list.mediumcode}">${list.mediumname}</option>
                            </th:block>-->
                        </select>
                        <input type = "button" class = "whiteButton" name = "mediumDelPro" value = "삭제"
                               onclick = "mediumpartdelPro();">
                    </td>
                </tr>

                <!-- 등록할 상품의 main/subCategory 선택 -->
                <tr>
                    <td>상품 카테고리*</td>
                    <td>
                        <select onchange = "select_inputcategory();" name = "mainPart">
                            <option value = "">1차 카테고리</option>
                            <option value = "asclo">asclo</option>
                            <!-- 가져올 카테고리가 있으면 -->
                            <!--<th:block th:if="${bigsrhCnt > 0}">
                                <option th:each="list:${bigList}" value = "${list.bigcode}">${list.bigname}</option>
                            </th:block>-->
                        </select>
                        <select name = "subPart"> <!-- 일단 아우터것만 이거는 jQuery로 조건써서 갖다넣을려고함 -->
                            <option value = "">2차 카테고리</option>
                            <!-- 가져올 sub 카테고리가 있으면 -->
                            <!--<th:block th:if="${mediumsrhCnt > 0}">
                                <option th:each="list:${mediumList}" value = "${list.mediumcode}">${list.mediumname}</option>
                            </th:block>-->
                        </select>
                    </td>
                </tr>
                <!-- 등록할 상품의 name 작성 -->
                <tr>
                    <td><label for="prdName">상품명 *</label></td>
                    <td>
                        <input type = "text" id="prdName" name = "prdName">
                    </td>
                </tr>
                <!-- 등록할 상품의 tax/notTax 선택 -->
                <tr>
                    <td>과세/비과세</td>
                    <td>
                        <input type = "radio" name = "tex" id = "tax" value = "과세" checked>
                        <label for = "tax">과세</label>&emsp;
                        <input type = "radio" name = "tex" id = "notTax" value = "비과세">
                        <label for = "notTax">비과세</label>
                    </td>
                </tr>

                <!-- 등록할 상품의 tax/notTax 선택 -->
                <tr>
                    <td>브랜드</td>
                    <td>
                        <select name = "brand">
                            <option value = "">브랜드 선택</option>
                            <!-- 가져올 브랜드가 있으면 -->
                            <!--<th:block th:if="${brandsrhCnt > 0}">
                                <option th:each="list:${brandList}" value = "${list.num}">${list.name}</option>
                            </th:block>-->
                        </select>
                    </td>
                </tr>

                <!-- 등록할 상품의 icon 선택 -->
                <tr>
                    <td>아이콘</td>
                    <td>
                        <input type = "radio" name = "icon" id = "hot" value = "hot">
                        <label for = "hot">hot</label>&emsp;
                        <input type = "radio" name = "icon" id = "minPrice" value = "minPrice">
                        <label for = "minPrice">최저가</label>&emsp;
                        <input type = "radio" name = "icon" id = "best" value = "best">
                        <label for = "best">best</label>
                    </td>
                </tr>

                <!-- 등록할 상품의 적립금 선택 -->
                <tr>
                    <td>적립금</td>
                    <td>
                        <input type = "radio" name = "plus" id = "notPlus" value = "notPlus">
                        <label for = "notPlus">없음</label>&emsp;
                        <input type = "radio" name = "plus" id = "plus" value = "plus">
                        <label for = "plus">적립금</label>&emsp;
                        <input type = "text" name = "plusPay">원
                    </td>
                </tr>
            </table>

            <!-- 상품 판매 정보 Title Block -->
            <div class="w-97 mx-auto bg-white px-10 py-15">
                <b>·상품 판매정보</b>
            </div>

            <!-- 상품 판매 정보 Input Block -->
            <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-py15 td-px10 td-border-bottom-1-ccc fs-8 vertical-middle-all">
                <col style = "width:15%">
                <col>
                <col style = "width:15%">
                <col>
                <tr>
                    <td class="fw-bold bg-EAECEE">
                        <label for="salePrice">판매가격 *</label></td>
                    <td>
                        <input type = "text" id="salePrice" name = "salePrice">원
                    </td>
                    <td class="fw-bold bg-EAECEE">
                        <label for="buyPrice">매입가격 *</label></td>
                    <td>
                        <input type = "text" id="buyPrice" name = "buyPrice">원
                    </td>
                </tr>
            </table>

            <!-- 배송 관련 정보 Title Block -->
            <div class="w-97 mx-auto bg-white px-10 py-15">
                <b>·배송관련</b>
            </div>

            <!-- 배송 관련 정보 Input Block -->
            <table class="w-97 mx-auto bg-white border-top-1-ccc border-bottom-1-ccc td-px10 td-py15 td-border-bottom-1-ccc fs-8 tdChild1-bg-lightGray tdChild1-fw-bold vertical-middle-all">
                <col style = "width:20%;">
                <col>

                <!-- 예상배송소요일 설정 -->
                <tr>
                    <td><label for="deliDate">예상배송소요일 *</label></td>
                    <td><input type = "text" id = "deliDate" name = "deliDate">일
                    </td>
                </tr>

                <!-- 배송비 설정 -->
                <tr>
                    <td>배송비 설정</td>
                    <td>
                        <input type = "radio" name = "deliPay" id = "basePay" value = "basepay">
                        <label for = "basePay">기본 배송비</label><br>
                        <input type = "radio" name = "deliPay" id = "free" value = "free">
                        <label for = "free">무료</label><br>
                        <input type = "radio" name = "deliPay" id = "plusDeliPay" value = "pluspay">
                        <label for = "plusDeliPay">유료</label>
                        <input type = "text" id = "plusPay" name = "deliPrice">원
                    </td>
                </tr>
            </table>

            <!-- 상품 상세 설명 Title Block -->
            <div class="w-97 mx-auto bg-white px-10 py-15">
                <b>·상품 상세 설명</b>
            </div>

            <!-- 상품 상세 설명 Title Block -->
            <table class="w-97 mx-auto bg-white border-bottom-1-ccc border-top-1-ccc td-py15 td-px10 td-border-bottom-1-ccc fs-8 tdChild1-bg-lightGray tdChild1-fw-bold tdChild1-border-right-1-ccc vertical-middle-all">
                <col style = "width: 15%;">
                <col>
                <!-- 상품 설명 Box -->
                <tr>
                    <td colspan = "2">
                        <textarea rows="20" cols="95" name="content" class="w-100 resize-vertical border-0" ></textarea>
                    </td>
                </tr>

                <!-- 상품 이미지 file 추가 -->
                <tr>
                    <td>첨부파일1</td>
                    <td><input type = "file" name = "file1"></td>
                </tr>
                <tr>
                    <td>첨부파일2</td>
                    <td><input type = "file" name = "file2"></td>
                </tr>
                <tr>
                    <td>첨부파일3</td>
                    <td><input type = "file" name = "file3"></td>
                </tr>
                <tr>
                    <td>첨부파일4</td>
                    <td><input type = "file" name = "file4"></td>
                </tr>
                <tr>
                    <td>첨부파일5</td>
                    <td><input type = "file" name = "file5"></td>
                </tr>

                <!-- With Item 선택하기 -->
                <tr>
                    <td class="text-center py-10">
                        <input type = "hidden" name = "withItem" value = "">
                        <div id = "image" class="bg-secondary-subtle wh-100px mx-auto">
                            No image
                        </div>
                    </td>
                    <td>
                        <input type = "button" id = "detailPrd" name = "detailPrd" value = "상품정보선택"
                               class="fs-9 p-5px whiteBaseButton" onclick = "withproductChk();" >
                    </td>
                </tr>
            </table>
        </div>
        </form>
    </div>
</div>

<!-- using Javascript, Bootstrap, JQuery -->
<footer th:replace="fragments/host_common :: footer"></footer>
</body>
</html>